
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
	
	            <div class="container">
                    <div class="top-block-profile">
                        <div class="top-block-profile-container">
                            <div class="profile-title">
                                <h1>สมัครเป็นดีลเลอร์</h1>
                            </div>
                        </div>
                      </div>
                      <div class="dealer-bg">
                        <div class="dealer-container">
					<form action="" method="POST" enctype="multipart/form-data">
                        <div class="my-3">
                            <!-- <img src="{% if user.profile.image %}
                            {{user.profile.image.url}}
                            {% else %}
                            {% static 'img/carbonvise.png' %}
                            {% endif %}" class="profile_image_act" alt=""> -->
                        </div>
                        {% csrf_token %}
                        {{form.media}}
                        {{form|crispy}}
                        <div class="input_center">
                            <div class= "button_wrapper">
                                <button class="dealer-submit-btn" type="submit" value="submit">
                                    submit
                                </button>
                                <span></span>
                            </div>
                        </div> 
                    </form>
                </div>
                </div>
                </div>
	



{% endblock %} 