
{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- <link rel="stylesheet" href="{% static 'css/frontend/profile.css' %}"/> -->
<!-- 
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div class="card card-style1 border-0">
                    <div class="profile-bg card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7 text-white">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4 mb-lg-0"> 
                                <div class="prof_image">
                                    <img src="{% if req_profile.image %}
                                    {{req_profile.image.url}}
                                    {% else %}
                                    {% static 'img/carbonvise.png' %}
                                    {% endif %}" class="profile_image_act">
                                </div>
                            </div>
                            <div class="col-lg-6 px-xl-10">
                                <div class="d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                    <div class="h2 text-white mb-0 my-3">{{req_profile.user.first_name}} {{req_profile.user.last_name}}</div>
                                    <div class="h4 text-white mb-0 my-3">{% if req_profile.user.is_dealer %}
                                        Dealer

                                        {% else %}
                                        {% endif %}
                                    </div> 
                                </div>
                                <div class="my-3">
                                    <ul class="list-unstyled mb-1-9">
                                        <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-white me-2 font-weight-600">Province:</span> {{req_profile.user.get_province_name}}</li>
                                        <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-white me-2 font-weight-600">Experience:</span> 10 Years</li>
                                        <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-white me-2 font-weight-600">Email:</span> {{req_profile.email}}</li>
                                        <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-white me-2 font-weight-600">Contacts:</span>None</li>
                                        <li class="display-28"><span class="display-26 text-white me-2 font-weight-600">Phone:</span> 191</li>
                                        <div class="my-5">About me :<br> {{req_profile.about_me}}</div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                            <div class="my-3">  {% if req_profile.user == user %}
                                                    <a href="{% url 'profiles:become_dealer' user.profile.slug  %}" class="site-btn ms-3 me-3">สมัครเป็นดีลเลอร์</a>
 
                                                    <a href="{% url 'profiles:profile_update' user.slug  %}" class="site-btn ms-3 me-3">แก้ไขโปรไฟล์</a>
                                                    {% if req_profile.user.is_dealer %}
                                                    
                                                    <a href="{% url 'market:market_create' %}" class="site-btn me-3">Create deal</a>
                                                    {% else %}
                                                    {% endif %} 

                                                    <a href="{% url 'profiles:start_session' user.profile.slug %}" class="site-btn me-3">start session</a>
                                                    
                                                    
                                                    <a href="{% url 'account_logout' %}" class="site-btn ms-3 ">ออกจากระบบ</a>
                                                
                                                {% else %} 
                                                {% endif %}
                               
                               
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12 mb-4 mb-sm-5">
                <h2 class="my-3">Session</h2>

                <div class="card card-style1 border-0">
                    <div class="profile-bg card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7 text-white">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4 mb-lg-0"> 
                                <div class="cp-item">
                                    <div class="circle-progress" data-cpid="id-1" data-cpvalue="{{credit_percentage}}" data-cpcolor="#0b1800" data-cpsize="500" data-cptitle="Progress to neutral"></div>
                                </div>
                            
                            </div>
                            <div class="col-lg-6 px-xl-10">
                                <div class="d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                    <div class="h2 text-white mb-0 my-3">Status : {{req_profile.user.profile_credit.is_neutral}}</div>
                                    <!-- <div class="h2 text-white mb-0 my-3">Session Active : {{req_profile.user.profile_credit.session_active}}</div> -->
                                    <!-- <div class="h2 text-white mb-0 my-3">Session name : {{req_profile.user.profile_credit.session_name}}</div>
                                    <div class="h4 text-white mb-0 my-5">Session End : {{req_profile.user.profile_credit.reset_date}}</div>

                                    <div class="h4 text-white mb-0 my-3">Your Credits : {{req_profile.user.profile_credit.credits}} Credits</div> 
                                    <div class="h4 text-white mb-0 my-3">Neutral Goal : 1000 Credits</div> 

                                </div>
                                <div class="my-3">  {% if req_profile.user == user %}
                                    {% if not profile_credit == None %}
                                        <a href="{% url 'profiles:end_session' user.profile.slug  %}" class="site-btn ms-3 me-3">End session</a>
                                        {%if profile_credit.badges.is_obtained %}
                                        <a href="{% url 'badges:badge_detail' user.profile_credit.slug  %}" class="site-btn ms-3 me-3">View badge</a>
                                        {% else %}
                                        <a href="{% url 'badges:obtain_badges' %}" class="site-btn ms-3 me-3">obtain badges</a>
                                        {% endif %}
                                        

                                    {% else %}
                                    {% endif %}

                                        
                                        
                                    
                                    {% else %} 
                                    {% endif %}
               
               
                                </div>
                                <ul class="list-unstyled mb-1-9">
                                   
                                </ul>

                            </div>
                        </div>
              
                    </div>
                </div>
            </div>
        </div>            -->
        
            <!-- <h2 class="my-3">Purchase History</h2>
			<div class="box-element">
                
				<div class="cart-row">
					<div style="flex:1"><strong>Time</strong></div>
					<div style="flex:1"><strong></strong></div>
					<div style="flex:1"><strong>Deal</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
				</div>
				{% for item in purchased_item reversed %}
                <a href="{% url 'market:market_detail' item.deal.slug %}">
                    <div class="cart-row">
                        <div style="flex:1"><p>{{item.date_dealed}}</p></div>

                        <div style="flex:1"><img class="row-image" src="{% if item.qrcode %}
                            {{item.qrcode.url}}
                        {% else %}
                            {% static 'img/carbonvise.png' %}
                        {% endif %}" "></div>
                        
                        <div style="flex:1"><p>{{item.deal.name}}</p></div>
                        <div style="flex:1"><p>฿{{item.deal.price_per_unit}}</p></div>
                        <div style="flex:1">
                            <p class="quantity">{{item.quantity}}</p>
                            
                        </div>
                        <div style="flex:1"><p>฿{{item.get_total}}</p></div>
                    </div>
                </a>
				{% endfor %}
			
            </div> -->


    </div>
          

	<div class="container">
        <div class="top-block-profile">
            <div class="top-block-profile-container">
                <div class="profile-title">
                    <h1>โปรไฟล์</h1>
                </div>
            </div>
        </div>
        <div class="side-profile">
            <div class="top-top-profile">
                <div class="userFace">
                    <img src="{% if req_profile.image %}
                    {{req_profile.image.url}}
                    {% else %}
                    {% static 'img/carbonvise.png' %}
                    {% endif %}" class="profile_image_act"  alt="USERFACE" />
                </div>
                <div class="owner">
                    <div class="name">{{req_profile.user.first_name}} {{req_profile.user.last_name}}</div> 
                            {% if profile_credit.is_neutral %}
                            <div class="neutral_prof_status">Neutral</div> 
                            {% else %}
                            
                            {% endif %}
                    <!-- <div class="description">
                        description 
                        <a href="/profile/description">
                        <img src={arrow} alt="ARROW" />
                        </a>
                    </div>    -->
                </div>
                <!-- <div class="follow-btn"><a href="/profile">Follow</a></div> -->
                {% if req_profile.user == user %}
                <a href="{% url 'profiles:become_dealer' user.profile.slug  %}" class="session-btn ms-3 me-3">สมัครเป็นดีลเลอร์</a>

                <a href="{% url 'profiles:profile_update' user.slug  %}" class="session-btn ms-3 me-3">แก้ไขโปรไฟล์</a>
                {% if req_profile.user.is_dealer %}
                
                {% else %}
                {% endif %} 

                
                
                <a href="{% url 'account_logout' %}" class="session-btn ms-3 ">ออกจากระบบ</a>
            
            {% else %} 
            {% endif %} 
            </div>
            <div class="wrapper-profile">
                <div class="rank-andmore-block">
                    <div class="rank-block">
                    <div class="rank-block-container">
                        <div class="rank-text">เซสชั่น </div>
                        <div class="h5"><strong>ชื่อเซสชั่น</strong> : {{req_profile.user.profile_credit.session_name}}</div>
                        <div class="h5"><strong>จบวันที่ </strong>:{{req_profile.user.profile_credit.reset_date}}</div>
                        <div class="number-order">จำนวนเครดิต : {{req_profile.user.profile_credit.credits}} Credits</div>
                        <!-- <div class="streak">4 week streak</div> -->
                        <div>
                            {% if req_profile.user == user %}
                            {% if not profile_credit == None %}
                                <a href="{% url 'profiles:end_session' user.profile.slug  %}" class="session-btn me-5 my-3">End session</a>
                                {%if profile_credit.badges.is_obtained %}
                                <a href="{% url 'badges:badge_detail' user.profile_credit.slug  %}" class="session-btn ">View badge</a>
                                {% else %}
                                <a href="{% url 'badges:obtain_badges' %}" class="session-btn">obtain badges</a>
                                {% endif %}
                                
                            
                            {% else %}
                           
                                <a href="{% url 'profiles:start_session' user.profile.slug %}" class="session-btn">Start Session</a>
                          
                            {% endif %}

                                
                                
                            
                            {% else %} 
                            {% endif %}
                          
                        </div>
                    </div>
                    </div>
                    <div class="andmore-block">
                        {%if profile_credit.is_neutral %}
                        <div class="progress-circle">
                            <div class="cp-item">
                                <div class="circle-progress" data-cpid="id-1" data-cpvalue="{{credit_percentage}}" data-cpcolor="#41C266" data-cpbg="#96C7A4" data-cpsize="200" data-cptitle="Offset"></div>
                            </div>
                        </div>
                        {% else %}
                        <div class="progress-circle">
                            <div class="cp-item">
                                <div class="circle-progress" data-cpid="id-1" data-cpvalue="{{credit_percentage}}" data-cpcolor="#EC6C03" data-cpsize="200" data-cptitle="Offset"></div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="reduced-block">
                    <div class="reduced-block-container">
                        <div class="reduced-text">จังหวัด</div>
                        <div class="percent"> {{req_profile.user.get_province_name}}</div>
                        <div class="offset-natural"># {{province_rank}} </div>
                    </div>
                </div>
                <div class="carbon-status-block">
                    <div class="carbon-status-block-container">
                        <div class="carbon-text">อันดับผู้ใช้</div>
                        <div class="offset-natural"># {{user_province_rank}} <br> ใน{{req_profile.user.get_province_name}}</div>
                        <div class="thai_rank"># {{user_rank}} <br> ในประเทศไทย</div>
                    </div>
                </div>
            </div>
            <div class="project">
                <div class="project-container">
                    <div class="project-title">Badges</div>
                    <div class="project-content">
                    <div class="wrapper-project">
                <a href="/market-inside">
                <div class="product1-profile">
                    <div class="related-pic-1-profile">
                        <div class="subcategory-each">
                            <a href="/market/renewable energy">Renewable energy</a>
                        </div>
                    </div>
                    <div class="about-pic-profile">
                        <div class="about-pic-left">
                            <div class="type-profile">EcoPower</div>
                            <div class="rating">
                                <img src={leaf} alt="" />
                                5.0(52 Reviews)
                                </div>
                        </div>
                        <div class="about-pic-right">
                            <div class="num-profile">324</div>
                            <div class="subunit">Chestnuts</div>
                        </div>
                    </div>
                </div>
                </a>
                <div class="product2-profile">
                    <div class="related-pic-2-profile">
                        <div class="subcategory-each">
                            <a href="/market/renewable energy">Solar energy</a>
                        </div>
                    </div>
                    <div class="about-pic-profile">
                        <div class="about-pic-left">
                            <div class="type-profile">Embrace Solar Power</div>
                            <div class="rating">
                                <img src={leaf} alt="" />
                                4.9(39 Reviews)
                                </div>
                        </div>
                        <div class="about-pic-right">
                            <div class="num-profile">500</div>
                            <div class="subunit">Chestnuts</div>
                        </div>
                    </div>
                </div>
                <div class="product3-profile">
                    <div class="related-pic-3-profile">
                        <div class="subcategory-each">
                            <a href="/market/renewable energy">Waste Heat Recovery</a>
                        </div>
                    </div>
                    <div class="about-pic-profile">
                        <div class="about-pic-left">
                            <div class="type-profile">Embrace Solar Power</div>
                            <div class="rating">
                                <img src={leaf} alt="" />
                                1.9(70 Reviews)
                                </div>
                        </div>
                        <div class="about-pic-right">
                            <div class="num-profile">2903</div>
                            <div class="subunit">Chestnuts</div>
                        </div>
                    </div>
                </div>
                </div>
                    </div>
                </div>
            </div>
            <div class="blogs-profile">
                <div class="blogs-profile-container">
                    <div class="blogs-text">Blogs</div>
                    <div class="blogs-content">
                    <div class="secondblog-profile">
                    <div class="container-eachblog-profile">
                    <div class="nav-eachblog-profile">
                        <div class="time-profile">16 hour ago</div>
                        <div class="three-dot"><img src={threeDot} alt="" /></div>
                    </div>
                    <div class="underline-eachblog"></div>
                    <div class="below-eachblog">
                        <div class="title-blog">Revitalize Your Morning Routine...</div>
                        <div class="text-blog">Start your day off right with these refreshing and nutritious vegan 
                        smoothie recipes. Packed with vitamins, minerals, and plant-based protein</div>
                        <div class="tips-readmore">
                            <div class="tips"> 
                                <a href="/blogs/events">Events</a>
                            </div>
                            <div class="read-more">
                                <a href="/blogs/read-more">Read more</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="thirdblog-profile">
                    <div class="container-eachblog-profile">
                    <div class="nav-eachblog-profile">
                        <div class="time-profile">18 hour ago</div>
                        <div class="three-dot"><img src={threeDot} alt="" /></div>
                    </div>
                    <div class="underline-eachblog"></div>
                    <div class="below-eachblog">
                        <div class="title-blog">Mastering the Art of Communication</div>
                        <div class="text-blog">Enhance your communication skills by understanding different 
                        communication styles, active listening techniques, and fostering effective dialogue</div>
                        <div class="tips-readmore">
                            <div class="tips"> 
                                <a href="/blogs/events">Events</a>
                            </div>
                            <div class="read-more">
                                <a href="/blogs/read-more">Read more</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                    </div>
                </div>
            </div> <h2 class="my-3">Session History</h2>
			<div class="box-element">
                
                    <div class="cart-row">
                        <div style="flex:1"><strong>Session name</strong></div>
                        
                        <div style="flex:1"><strong>Credits Obtained</strong></div>
                        
                        <div style="flex:1"><strong>Start date</strong></div>
                        <div style="flex:1"><strong>End date</strong></div>
                        <div style="flex:1"><strong>Status</strong></div>
                        <div style="flex:1"><strong>Badge</strong></div>
                    </div>
                    {% for sess in session_history reversed %}
                    <div class="cart-row">
                        <div style="flex:1"><p>{{sess.session_name}}</p></div>

                        
                        
                        <div style="flex:1"><p>{{sess.credits_of_month}}</p></div>
                        <div style="flex:1"><p>{{sess.start_date}}</p></div>
                        <div style="flex:1">
                            <p class="quantity">{{sess.end_date}}</p>
                            
                        </div>
                        {% if sess.is_neutral %}
                        <div style="flex:1"><p class="neutral_his_status">Neutral</p></div>
                        <div style="flex:1"><a href="{% url 'badges:badge_detail' sess.slug %}" class="session-btn ms-3 me-3 my-2">View badges</a></div>
                        {% else %}
                        <div style="flex:1"><p>Not Neutral</p></div>
                        <div style="flex:1"></div>
                        {% endif %}
                        
                    </div>
                    {% endfor %}
			</div>
            <div class="project">
                <div class="purhis-container purhis-owl">
                    <div class="project-title">ซื้อล่าสุด</div>
                    <div class="project-content">
                    <div class="carbon-warp">
                <div class="profile-slider owl-carousel">
                        {% for item in purchased_item reversed %}
                            <a href="{% url 'market:market_detail' item.deal.slug %}">
                                <div class="product1-profile ms-3">
                                    <div class="related-pic-1-profile set-bg" data-setbg="{% if item.deal.image %}
                                    {{item.deal.image.url}}
                                    {% else %}
                                    {% static 'img/carbonvise.png' %}
                                    {% endif %}">

                                        <div class="subcategory-each">
                                            <a href="">{{item.deal.get_category_name}}</a>
                                        </div>
                                    </div>
                                    <div class="about-pic-profile">
                                        <div class="about-pic-left">
                                            <a href="{% url 'market:market_detail' item.deal.slug %}">
                                                <div class="type-profile">{{item.deal.name}}</div>
                                            </a>
                                            <div class="rating">
                                                    {{item.date_dealed}}
                                                </div>
                                        </div>
                                        <div class="about-pic-right">
                                            <div class="num-profile">{{item.deal.quantity_left}}</div>
                                            <div class="h5">left</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        
                        {% endfor %}
                    </div>
        

            
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


 
{% endblock %} 