{% extends 'base.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 
{%block content %}
<div class="container">
<div class="top-block-profile">
  <div class="top-block-profile-container">
      <div class="profile-title">
          <h1>เซสชั่น</h1>
      </div>
  </div>
</div>
<div class="session-bg">
  <div class="session-container">
      <form method="POST">
		    {% csrf_token %}	
        <div>{{form|crispy}}</div>
        <div class="goal-remain">
        <div class="goal-session">
          <div class="goal-text">เป้าหมาย</div>
          <div class="goal-underline"></div>
          <div class="goal-num">300</div>
          <div class="goal-unit">เครดิต</div>
        </div>
        <div class="remain-session">
          <div class="remain-text">ระยะเวลา</div>
          <div class="remain-underline"></div>
          <div class="remain-num">30</div>
          <div class="remain-unit">วัน</div>
        </div>
      </div>
        <button class="start-session-btn" type="submit">
          เริ่มต้นเซสชั่น
        </button>
      </form>
    </div>
</div>
</div>


{% endblock %}
