.blogs-inside{
    width: 100%;
    height: 1237px;
    background-color: white;
    border-radius: 10px;
}
.blogs-insideContainer{
    width: 95%;
    margin: 10px auto;
}
.blogs-insideTitle{
    margin: 10px auto;
    font-size: 36px;
    font-weight: 500;
}
.content-blogs{
    margin: 0 auto;
    width: 75%;
}
.other-layer{
    width: 90%;
    margin: 0 auto;
}
.firstlayer-blogs-inside{
    margin-top: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.secondlayer-blogs-inside{
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: max-content;
    text-align: justify;
}
.username-blogs-inside{
    margin-left: 20px;
}
.date-blogs{
    margin-left: 20px;
    color: #AAACB4;
    opacity: 0.5;
}

/* Comment-Blogs */

.comments-title{
    margin: 30px 0;
    font-size: 36px;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.underline-insideblogs{
    margin-left: 15px;
    width: 100%;
    height: 0.5px;
    background-color: black;
}
.comment-section-blogs{
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.all-comment-blogs{
    margin: 0 auto;
    width: 100%;
    height: max-content;
    border: 1px solid black;
    border-radius: 10px;
}

/* responsive */

.username-rating-res{
    margin-left: 20px;
}
.username-comment-res{
    margin-left: 5px;
    font-size: 16px;
    font-weight: 700;
}
.underline-insideblogs-res{
    display: none;
}
.firstlayer-blogs-inside-res{
    display: none;
}
.comment-blogs-inside-res{
    display: none;
}
.user-comment-res{
    display: none;
}

@media only screen and (max-width: 600px) {
    /* Blogs-inside */
    .undo,.threedots{
        margin-top: 20px;
    }
    .blogs-inside{
        margin: 0 auto;
        height: 1237px;
    }
    .blogs-insideContainer{
        margin: 10px auto;
    }
    .blogs-insideTitle{
        font-size: 24px;
    }
    .content-blogs{
        width: 100%;
    }
    .firstlayer-blogs-inside{
        display: none;
    }
    .secondlayer-blogs-inside{
        margin: 0;
    }
    .underline-insideblogs{
        margin: 10px auto;
    }
    .comments-title{
        display: none;
    }
    .comment-section-blogs{
        display: none;
    }
    .firstlayer-blogs-inside-res{
        margin-top: 10px;
        display: flex;
        align-items: center;
    }
    .username-blogs-inside{
        margin-left: 10px;
    }
    .date-blogs{
        margin-left: auto;
        color: #AAACB4;
    }
    .underline-insideblogs-res{
        display: block;
        margin: 10px auto;
        height: 0.5px;
        background-color: black;
    }
    .comment-blogs-inside-res{
        margin-top: 20px;
        display: flex;
        align-items: center;
    }
    .comment-title-res{
        font-size: 16px;
        text-align: justify;
    }
    .underline-comment-insideblogs-res{
        margin-left: 10px;
        height: 0.5px;
        background-color: black;
    }
    .user-comment-res{
        display: flex;
        width: 300px;
        margin: 20px auto;
    }
    .username-date{
        display: flex;
    }
    .username-rating-res{
        margin-left: 0px;
    }
    .username-comment-res{
        margin-left: 0px;
    }
    .otherthan-userpic{
        margin-left: 20px;
    }
    .comment-res{
        margin-top: 10px;
    }
  }