/* navBlog */
.top-block-blogs{
    height: 150px;
    width: 100%;
    background-color: white;
}
.top-block-container-blogs{
    width: 95%;
    margin: 0 auto;
}
.blog-title{
    font-size: 36px;
    padding-top: 10px;
}

.filter-search-sorted-wrapper{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.filert-test{
    width: 30%;
}
.search-test{
    width: 30%;
}
.sorted-test{
    width: 30%;
}
.layerst{
    display: flex;
    align-items: center;
}

.underLine-filter{
    margin-left: 10px;
    background-color: black;
    width: 85%;
    height: 0.5px;
}
.underLine-search{
    margin-left: 10px;
    background-color: black;
    width: 70%;
    height: 0.5px;
}
.underLine-sorted{
    margin-left: 10px;
    background-color: black;
    width: 50%;
    height: 0.5px;
}
.category-blog{
    display: flex;
    margin-top: 10px;
}
.search-box form input{
    margin-top: 10px;
    border-radius: 5px;
    width: 80%;
    height: 25px;
    border: 1px solid black;
}
.drop-views{
    border: 1px solid black;
    margin-left: 10px;
    border-radius: 5px;
    display: flex;
}
.views-text{
    padding: 5px;
    width: 50px;
}
.date-text{
    padding: 5px;
    width: 35px;
}
.dropdown-btn{
    height: 10px;
}

/* mid-section*/
.wrapper-blogs{
    display: flex;
}
.all-blogs{
    margin: 0 auto;
    height: 600px;
    overflow: hidden;
    overflow-y: scroll;
}
.firstblog{
    width: 700px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    margin-right: 15px;
}
.secondblog{
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    margin-right: 15px;
}
.nav-blog1{
    width: 100%;
    margin: 10px auto;
    display: flex;
    align-items: center;
}
.username-blogs{
    margin-left: 20px;
    font-size: 16px;
    font-weight: 700;
}
.below-blog1{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: 200px;
}
.title-blog{
    font-size: 16px;
    margin: 15px 0;
    font-weight: 500;
}
.text-blog{
    font-weight: 300;
    font-size: 16px;
}
.tips-readmore{
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}
.tips{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}
.tips a{
    color: black;
}
.read-more{
    padding: 5px;
    border-radius: 5px;
    background-color: black;
}
.read-more a{
    background-color: black;
    color: white;
}

.container-eachblog{
    margin: 20px auto;
    width: 90%;
}
.nav-eachblog{
    display: flex;
    align-items: center;
}
.below-eachblog{
    display: flex;
    flex-direction: column;
    height: 200px;
}
.underline-eachblog{
    background-color: #AAACB4;
    opacity: 0.5;
    margin: 10px auto;
    height: 1px;
    width: 100%;
}

.allblog-trending{
    margin: 20px auto;
    display: flex;
}
.trending-block{
    margin-left: 15px;
    width: 330px;
    height: 616px;
    border-radius: 5px;
    background: white;
}
.trending-block-container{
    width: 95%;
    margin: 20px auto;
}
.trending-title{
    font-size: 16px;
    font-weight: 700;
}
.underline-trending{
    width: 100%;
    height: 0.5px;
    background-color: black;
    margin: 10px auto;
}
.trending-list{
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.trend-detail{
    margin-left: 20px;
}
.trend-num{
    font-size: 36px;
    font-weight: 700;
}
.main-detail{
    font-weight: 500;
}
.other-detail{
    padding-top: 5px;
    color: #A4A6AF;
    opacity: 0.5;
}
  /* responsive */
  @media only screen and (max-width: 600px) {
    /* Blogs */
    .top-block-blogs{
        height: 300px;
    }
    .top-block-container-blogs{
        width: 95%;
        margin: 0 auto;
    }

    .blog-title{
        font-size: 12px;
    }
    .filter-search-sorted-wrapper{
        display: block;
    }
    .subcategory{
        margin-left: 10px;
    }
    .search-box form input{
        width: 300px;
        height: 25px;
    }
    .filert-test{
        margin-top: 10px;
    }
    .search-test{
        margin-top: 10px;
    }
    .sorted-test{
        margin-top: 10px;
    }
    .layerst{
        width: 100%;
    }
    .underLine-search{
        display: none;
    }
    .underLine-filter{
        width: 265px;
    }
    .underLine-sorted{
        width: 257px;
    }

    /* mid-section */
    .allblog-trending{
        display: block;
    }
    .trending-block{
        margin: 0 auto;
        width: 330px;
        height: 616px;
        border-radius: 5px;
        background: white;
    }
    .wrapper-blogs{
        display: block;
    }
    .wrapper-blogs-under{
        display: block;
    }
    .firstblog{
        display: none;
    }
    .secondblog{
        margin: 20px auto;
        width: 100%;
    }
    .trending-block{
        width: 100%;
    }
  }