/* comment-section */

.all-comment{
    margin-top: 1rem;
    width: 100%;
    height: max-content;
    border: 1px solid black;
    border-radius: 10px;
}
.all-comment-container{
    width: 95%;
    margin: 0 auto;
    
}
.user-comment{
    display: flex;
    width: 1020px;
    margin: 20px auto;
}
.username-rating{
    margin-left: 20px;
}
.username-comment{
    margin-left: 5px;
    font-size: 16px;
    font-weight: 700;
}
.score-small{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.score-small img{
    width: 14px;
    height: 14px;
    margin-left: 5px;
}
.comment{
    margin-left: 10px;
}
.time{
    margin-left: auto;
    font-size: 11px;
    color: #A4A6AF;
    opacity: 0.5;
}

