/* comment-section */

.comment-section{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

/* Left-side */

.rating-comment{
    margin-left: 50px;
}
.num-comment{
    font-size: 64px;
    text-align: center;
}

/* Right-side */

.all-comment{
    width: 1060px;
    height: 441px;
    border: 1px solid black;
    border-radius: 10px;
}
.user-comment{
    display: flex;
    width: 1020px;
    margin: 20px auto;
}
.username-rating{
    margin-left: 20px;
}
.username-comment{
    margin-left: 5px;
    font-size: 16px;
    font-weight: 700;
}
.score-small{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.score-small img{
    width: 14px;
    height: 14px;
    margin-left: 5px;
}
.comment{
    margin-left: 10px;
}
.time{
    margin-left: auto;
    font-size: 11px;
    color: #A4A6AF;
    opacity: 0.5;
}

