/* footer */
footer{
    margin: auto;
    background-color: white;
    border-radius: 10px;
    max-width: 1408px;
    height: 99px;
}
.wrapper-foot{
    padding-top: 10px;
    display: flex;
    color: #A4A6AF;
    justify-content: center;
}
.wrapper-foot a{
    text-decoration: none;
    color: #A4A6AF;
}
.help a,.contact a,.jobs a,.term a,.privacy a,.cookie a,.last{
    padding-left: 20px;
    color: #A4A6AF;
    opacity: 0.5;
}

@media only screen and (max-width: 600px) {
    footer{
        border-radius: 0px;
    }
}