.market-inside{
    width: 100%;
    height: max-content;
    background-color: white;
    border-radius: 10px;
}
.market-insideContainer{
    width: 90%;
    margin: 10px auto;
}

/* TopSide */

.top-side{
    margin: 0 auto;
    width: 100%;
    height: 512px;
}

/* firstLayer */

.first-layer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.undo,.threedots{
    margin-top: 40px;
}

/* secondLayer */

.second-layer{
    margin: 20px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left-second-layer{
    width: 40%;
    height: 400px;
}

.mid-second-layer{
    width: 35%;
    margin-left: 20px;
}
.mid-title{
    font-size: 36px;
}
.score{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.score img{
    margin-left: 5px;
}
.mid-text{
    margin-left: 10px;
    color: #A4A6AF;
    opacity: 0.7;
}
.mid-type{
    margin-top: 10px;
    padding: 5px;
    width: max-content;
    border-radius: 5px;
    border: 1px solid #1B1B1B;
    font-weight: 700;
}
.mid-type a{
    text-decoration: none;
}
.mid-decription-title{
    margin: 10px 0;
    font-size: 16px;
}
.mid-decription-info{
    width: 100%;
    text-align: justify;
    color: #A4A6AF;
    font-size: 15px;
}

.right-second-layer{
    margin-left: 20px;
}
.right-topbox{
    width: 217px;
    height: 148px;
    border-radius: 5px;
    border: 1px solid #1B1B1B;
}
.upper-topbox{
    width: 200px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}
.adjust-num{
    margin-top: 20px;
    align-items: center;
    display: flex;
}
.x{
    margin: 0 10px;
}
.subunit-inside{
    margin-left: 30px;
}
.upper-bottom{
    display: flex;
    width: 90%;
    margin: 20px auto;
}
.add-cart{
    height: max-content;
    width: max-content;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #1B1B1B;
}
.buy{
    border: 1px solid black;
    background-color: black;
    height: max-content;
    width: max-content;
    border-radius: 5px;
    padding: 5px;
    margin-left: 20px;
    cursor: pointer;
}
.buy div{
    background-color: black;
    color: white;
    font-size: 15px;
    text-decoration: none;
    
}
.add-cart a{
    font-size: 16px;
    font-weight: 900;
    text-decoration: none;
}

.right-botbox{
    margin-top: 20px;
    width: 217px;
    height: 116px;
    border-radius: 5px;
    border: 1px solid #1B1B1B;
    display: flex;
}
.userpic{
    margin: 10px 0 0 10px;
    width: 90px;
    height: 90px;
    border-radius: 10%;
}
.about-userpic{
    width: 90px;
    margin: 10px 0 0 10px;
}
.name-userpic{
    font-weight: 700;
}
.rating-userpic{
    padding: 5px;
    margin-top: 15px;
}
.view{
    margin: 15px 0 0 15px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}
.view a{
    text-decoration: none;
}


/* BottomSide */
/* TopofBottomSide */

.bot-side{
    margin: 50px auto 0 auto;
    width: 100%;
    height: max-content;
}
.bot-sidenav{
    display: flex;
    justify-content: space-between;
}
.RatingReviews{
    font-size: 36px;
}
.uppersorted{
    display: flex;
    align-items: center;
}
.underline-sorted{
    margin-left: 10px;
    width: 97px;
    height: 0.5px;
    background-color: black;
}
.lowersorted{
    display: flex;
    margin-top: 10px;
}
.date{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}
.reviews{
    margin-left: 10px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

.bot-underline{
    margin-top: 20px;
    width: 100%;
    height: 0.5px;
    background-color: black;
}

/* responsive */
.second-layer-responsive{
    display: none;
}
.add-market-inside-res{
    display: none;
}
.underline-insidemarket-res{
    display: none;
}


@media only screen and (max-width: 600px) {
    /* Blogs-inside */
    .top-side{
        display: none;
    }
    .market-inside{
        margin: 0 auto;
    }
    .market-insideContainer{
        margin: 10px auto;
    }
    .second-layer-responsive{
        display: block;
    }
    .second-layer{
        display: none;
    }
    .mid-second-layer-res{
        width: 100%;
        margin: 0 auto;
    }
    .mid-title{
        font-weight: 700;
        padding: 10px 0;
        font-size: 24px;
    }
    .mid-img-market-inside-res{
        margin: 0 auto;
        width: 100%;
        height: max-content;
    }
    .mid-decription-info{
        margin: 0 auto;
    }
    .mid-decription-title{
        padding: 10px 0;
    }
    .user-info-market-inside-res{
        margin: 0;
        width: 100%;
        height: max-content;
        display: flex;
    }
    .right-side-userpic{
        margin: auto 20px;
    }
    .rating-userpic{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 10px 0;
    }
    .view{
        margin: 0;
        width: max-content;
    }
    .bot-side{
        width: 100%;
    }
    .bot-sidenav{
        margin: 0 auto;
        width: 100%;
    }
    .RatingReviews{
        font-size: 16px;
    }
    .underline-sorted{
        width: 61px;
        height: 0.5px;
    }
    .bot-underline{
        display: none;
    }
    .comment-section-component{
        display: none;
        height: max-content;
    }
    .bot-side{
        height: max-content;
    }

    /* added-block */
    .add-market-inside-res{
        display: block;
        margin: 10px auto;
        width: 100%;
        height: max-content;
        border-radius: 5px;
    }
    .add-market-inside-res-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    .underline-insidemarket-res{
        display: block;
        margin: 10px auto;
        width: 100%;
        height: 0.5px;
        background-color: black;
    }
    .left-side-added-block-res{
        display: flex;
    }
    .num{
        padding: 0 5px;
    }
    .subunit-inside{
        margin: 0;
        padding-top: 23px;
    }
    .upper-bottom{
        width: max-content;
    }
    .adjust-num{
        margin: 0 0 5px 0;
    }
    .add-cart{
        margin: 0;
        padding: 5px;
        height: max-content;
    }
    .buy{
        margin-left: 5px;
        padding: 5px;
        height: max-content;
    }
    .buy a{
        font-size: 16px;
    }
    .minus{
        margin-left: 60px;
    }
  }