
.neutral_prof_status{
    margin-top: 10px;
    color: #41C266;
    font-size: 25px;
    text-align: left;
}
.neutral_his_status{
    /* margin-top: 10px; */
    color: #41C266;
    font-size: 18px;
    text-align: left;
}
/* .session-btn{
    display: inline-block;
    border: 1px solid black;
    background-color: black;
    border-radius: 5px;
    padding: 7px;
    width: max-content;
    height: 30px;
    
    scale: 1.3; 
    background-color: black;
    color: white;
    text-decoration: none;
} */


/* top-block */

.top-block-profile{
    background-color: white;
    width: 100%;
    height: max-content;
    border-radius: 5px;
}
.top-block-profile-container{
    width: 95%;
    margin: 0 auto;
}
.profile-title{
    font-size: 36px;
    padding: 10px 0;
}

/* ProfilePage-Top */
.side-profile{
    margin-top: 10px;
}
.top-top-profile{
    width: 100%;
    height: 250px;
    background-color: white;
    border-radius: 10px;
}
.top-top-profile-container{
    width: 100%;
    height: 100%;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.userFace{
    width: 222px;
    height: 222px;
    margin: 0 20px;
    background-repeat: no-repeat;
}
.wrapper-userFace-owner{
    display: flex;
    align-items: center;
}
.name{
    font-size: 36px;
}
.description{
    display: flex;
    align-items: center;
    padding: 10px 0 0 0;
    color: #A4A6AF;
    opacity: 0.5;
}
.description a{
    margin-left: 5px;
    text-decoration: none;
}
.dealer-btn,.fix-profile-btn,.exit-btn{
    background-color: black;
    padding: 10px;
    width: max-content;
    border-radius: 5px;
    margin-right: 10px;
}
.dealer-btn a,.fix-profile-btn a,.exit-btn a{
    background-color: black;
    color: white;
}
.wrapper-dealer{
    display: flex;
}
.follow-btn{
    border: 1px solid black;
    padding: 5px;
    width: max-content;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 20px;
}
.follow-btn a{
    text-decoration: none;
}

/* ProfilePage-2ndLayer*/

.wrapper-profile{
    width: 100%;
    display: flex;
    margin: 10px 0;
}
.rank-andmore-block{
    display: flex;
    width: 60%;
    height: 300px;
    background-color: white;
    border-radius: 5px;
}
.rank-block{
    margin: auto;
    height: 230px;
    width: 50%;
}
.rank-block-container{
    width: 100%;
    margin: 10px 20px;
}
.rank-text,.reduced-text,.carbon-text{
    font-size: 36px;
}
.wrapper-btn{
    display: flex;
}
.end-btn,.view-badge-btn,.obtain-badge-btn,.session-profile-btn{
    margin-top: 20px;
    padding: 10px 5px;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.view-badge-btn,.obtain-badge-btn{
    margin-left: 10px;
    color: white;
}
.end-btn a,.view-badge-btn a,.obtain-badge-btn a{
    background-color: black;
    color: white;
}

.number-order-cred{
    margin-top: 10px;
    color: #EC6C03;
    font-size: 25px;
    font-weight: 900;
    text-align: left;
}
.percent{
    margin-top: 10px;
    color: #EC6C03;
    font-size: 42px;
    text-align: left; 
}
.offset-natural{
    margin-top: 10px;
    color: #EC6C03;
    font-size: 40px;
    text-align: left; 
}
.thai_rank{
    margin-top: 10px;
    color: #EC6C03;
    font-size: 30px;
    text-align: left;  
}
.streak{
    margin-top: 20px;
    text-align: left;
    font-size: 16px;
}
.andmore-block{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}  
.progress-circle{
    vertical-align: bottom;
} 
.reduced-block,.carbon-status-block{
    width: 25%;
    height: 300px;
    border-radius: 5px;
    background: #FFF;
    margin-left: 10px;
}
.reduced-block-container,.carbon-status-block-container{
    width: 90%;
    margin: 10px auto;
}
.from-text{
    margin: 10px 0;
    text-align: right;
}
.chestnuts-amount{
    text-align: right;
    color: #A4A6AF;
    opacity: 0.5;
}

/* Project */
.wrapper-project{
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 10px 0;

    overflow-x: scroll;

}
.project-container{
    width: 95%;
    margin: 0 auto;
}
.snaps-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 10px;
}
.snaps-inline *{
    scroll-snap-align: start;
}
.wrapper-project a{
    text-decoration: none;
}
.project{
    margin-top: 10px;
    width: 100%;
    height: 456px;
    background-color: white;
    border-radius: 5px;
}
.purhis-container{
    margin: auto 0 auto 20px;
}
.purhis-owl .owl-next {
	position: absolute;
	right: -80px;
	top: 50%;
	margin-top: -27px;
	width: 54px;
	height: 54px;
	border-radius: 10%;
	text-align: center;
	color: #fff;
	font-size: 22px;
    
	padding-top: 10px;
	background: #000000;
}
.project-title{
    font-size: 36px;
    padding: 20px 0;
}
.product1-profile,.product2-profile,.product3-profile{
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 303px;
    background-color: rgba(246, 246, 249, 1);
    border-radius: 5px;
    margin-right: 10px;
}
.product2-profile,.product3-profile{
    padding: 0 10px;
}
.related-pic-1-profile,.related-pic-2-profile,.related-pic-3-profile{
    display: flex;
    width: 316px;
    height: 209px;
    border-radius: 5px;
    margin: 10px auto;
}
.related-pic-1-ach{
    display: flex;
    width: 316px;
    height: 209px;
    border-radius: 5px;
    margin: 10px auto;
}
/* .related-pic-1-profile{
    background: url(images/market/product1.jpg);
}
.related-pic-2-profile{
    background: url(images/market/product2.jpg);
}
.related-pic-3-profile{
    background: url(images/market/product3.png);
}  */
.about-pic-profile{
    margin: 0 auto;
    width: 316px;
    display: flex;
    justify-content: space-between;
}
.type-profile{
    font-size: 16px;
}
.type-ach{
    font-size: 20px;
}
.num-profile{
    text-align: right;
    font-size: 32px;
}

/* Blogs */
.blogs-profile{
    margin-top: 10px;
    height: 456px;
    width: 100%;
    border-radius: 5px;
    background-color: white;
}
.blogs-profile-container{
    width: 95%;
    margin: 0 auto;
}
.blogs-text{
    font-size: 36px;
    padding: 20px 0;
}
.blogs-content{
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 10px 0;

    overflow-x: scroll;
}
.nav-eachblog-profile{
    display: flex;
    justify-content: space-between;
}
.time-profile{
    color: #AAACB4;
    opacity: 0.5;
}
.secondblog-profile,.thirdblog-profile{
    display: flex;
    flex-direction: column;
    width: 341px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    margin-right: 15px;
    border: 1px solid black;
}
.container-eachblog-profile{
    margin: 20px auto;
    width: 90%;
}
.about-pic-right .h5{
    text-align: right;
}

/* responsive */
@media only screen and (max-width: 600px) {
    /* profile */
    /* top-block */
    .top-block-profile{
        margin: 10px auto;
    }
    .profile-title{
        font-size: 16px;
        padding-left: 10px;
    }

    /* user-profile */
    .top-top-profile{
        height: 150px;
        margin: 10px auto;
    }
    .userFace{
        width: 83px;
        height: 83px;
    }
    /* cant make img small */
    .userFace img{
        display: none;
    }
    .fix-profile-btn{
        margin: 10px 0;
    }
    .name{
        font-size: 16px;
    }
    .wrapper-dealer{
        display: block;
    }

    /* mid-section */
    .wrapper-profile{
        display: block;
        margin: 0 auto;
    }
    .rank-andmore-block,.reduced-block,.carbon-status-block{
        width: 100%;
        height: 200px;
        margin: 0 auto;
    }
    .andmore-block{
        margin: 0 auto;
    }
    .rank-andmore-block{
        display: block;
        height: 450px;
        margin: 0 auto;
    }
    .rank-block{
        width: 100%;
        height: 200px;
    }
    .rank-block-container,.reduced-block-container,.carbon-status-block-container{
        height: 100px;
        margin:  10px auto;
    }
    .rank-block-container{
        width: 90%;
    }
    .h5{
        font-size: 12px;
    }
    .rank-text,.streak,.reduced-text,.carbon-text{
        font-size: 12px;
        padding: 10px 0;
    }
    .number-order-cred,.percent,.offset-natural{
        font-size: 24px;
    }
    .from-text,.chestnuts-amount{
        font-size: 8px;
    }
    .streak,.number-order-cred,.percent{
        margin-top: 10px;
    }
    .from-text{
        margin: 5px 0;
    }

    /* project */
    .project{
        margin: 10px auto;
    }
    .project-title{
        font-size: 16px;
    }
    .product1-profile,.product2-profile,.product3-profile{
        width: 250px;
        height: 290px;
        background-color: white;
        border-radius: 5px;
        border: 1px solid black; 
    }
    .related-pic-1-profile,.related-pic-2-profile,.related-pic-3-profile{
        width: 230px;
    }
    .about-pic-profile{
        width: 230px;
    }
    .type-profile{
        font-size: 12px;
    }
    .num-profile{
        font-size: 24px;
    }

    /* Blogs */
    .blogs-profile{
        margin: 10px auto;
    }
    .blogs-text{
        font-size: 16px;
    }
    .secondblog-profile,.thirdblog-profile{
        width: 275px;
    }

    /* session history */
    .start-date-res,.end-date-res{
        display: none;
    }
    .session-btn ms-3 me-3 my-2{
        display: none;
    }
  }