.receipt-block{
    margin: 0 auto;
    border-radius: 5px;
    width: 75%;
    height: 1000px;
    background-color: white;
}
.receipt-block-container{
    width: 75%;
    margin: 0 auto;
}
.carbonvise-title{
    text-align: center;
    font-size: 48px;
    padding: 30px 0 20px 0;
}
.order-id{
    text-align: center;
    font-size: 16px;
}
.date-receipt{
    text-align: center;
    font-size: 16px;
    padding: 10px 0 20px 0;
}
.vat-receipt{
    font-size: 16px;
}
.card-type,.response,.approval-code{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
.response{
    margin: 15px 0;
}
.thankYou{
    font-size: 16px;
    text-align: center;
    margin-top: 50px;
}

/* responsive */
@media only screen and (max-width: 600px) {
    /* Cart */
    .receipt-block{
        margin: 10px auto;
        width: 100%;
    }
    .carbonvise-title{
        font-size: 32px;
    }
    .date-receipt,.order-id{
        font-size: 12px;
    }
    .vat-receipt{
        font-size: 12px;
    }
    .card-type,.response,.approval-code,.thankYou{
        font-size: 12px;
    }
  }