@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.container{
    display: flex;
    justify-content:center;
    background: #F6F6F9;
}
ul{
    list-style-type: none;
    background-color: white;
}
/* left bar */
.left_bar{
    width: 226px;
    height: 270px;
    margin-top: 16px;
    background-color: white;
    border-radius: 10px;
    margin-right: 36px;
    padding-top: 36px;
}
li{
    text-decoration: none;
    margin-bottom: 36px;
    text-align: center;
    background-color: white;
    font-weight: 550;
}
/* link */
a{
    text-decoration: none;
    color: #A4A6AF;
    background-color: white;
}
a:hover{
    color: black;
}
/* right bar */
.right_bar{
    width: 940px;
    height: 826px;
    margin-top: 14px;
    background-color: white;
    border-radius: 5px;
    padding-top: 36px;
    padding-left: 34px;
}
label[for="text"]{
    font-size: 1.5rem;
}
/* account setting */
.setting01,.setting02{
    margin-top: 18px;
    padding-right: 36px;
}
/* input checkbox */
input[type=checkbox]{
    height: 20px;
    width: 20px;
    border-radius: 5px;
    border: 1px solid #1B1B1B;
    appearance: none;
    cursor: pointer;
}
input:hover{
    border: 2px solid black;
}
input:active{
    transform: scale(0.9);
}
input:checked{
    content: "\2713"; /* Unicode checkmark symbol */
    font-size: 14px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 233, 233);
    border-color: black;
}

span{
    font-size: 11px;
    color: #A4A6AF;
}
.row1,.row2,.row3,.row4,.row5{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
/* email noti*/
.email_noti{
    margin-top: 36px;
}
