{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/front-end/market.css' %}">
    <div class="container">
        <div class="hrefp-block">
        <div class="hrefp-block-container">
            <div class="market-title">
                <h1>Market</h1>
            </div>
            <div class="filter-sorted-wrapper">
                <div class="filter-section">
                    <div class="layerst">
                        <div class="filter">filter </div>
                        <div class="underLine"></div>
                    </div>
                    <div class="category">

                        <div class="wrapper-responsive-market">
                        <div class="subcategory-selected">
                            <a href="/market/all">All</a>
                        </div>
                        <div class="subcategory">
                            <a href="/market/biomass">Biomass</a>
                        </div>
                        <div class="subcategory">
                            <a href="/market/biological">Biological</a>
                        </div>
                        <div class="subcategory">
                            <a href="/market/renewable energy">Renewable energy</a>
                        </div>
                        </div>

                        <div class="wrapper-responsive-market-under">
                        <div class="subcategory-res">
                            <a href="/market/hydropower">Hydropower</a>
                        </div>
                        <div class="subcategory">
                            <a href="/market/waste heat recovery">Waste Heat</a>
                        </div>
                        <div class="subcategory">
                            <a href="/market/solar energy">Solar energy</a>
                        </div>
                        </div>

                    </div>
                </div>
                <div class="sorted-section">
                    <div class="layerst">
                        <div class="sorted">sorted by</div>
                        <div class="underLine2"></div>
                    </div>
                    <div class="Tdropdown">
                        <div class="drop-date">
                            <div class="date-text">date</div>
                            <div class="dropdown-btn"><img src={dropdown} alt="" /></div>
                        </div>
                        <div class="drop-price">
                            <div class="price-text">price</div>
                            <div class="dropdown-btn"><img src={dropdown} alt="" /></div>
                        </div>
                        <div class="drop-review">
                            <div class="review-text">review</div>
                            <div class="dropdown-btn"><img src={dropdown} alt="" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="product">
            <div class="wrapper-market">
                <a href="/market-inside">
                <div class="product1">
                    <div class="related-pic-1">
                        <div class="subcategory-each">
                            <a href="/market/renewable energy">Renewable energy</a>
                        </div>
                    </div>
                    <div class="about-pic">
                        <div class="about-pic-left">
                            <div class="type">EcoPower</div>
                            <div class="rating">
                                <img src={leaf} alt="" />
                                5.0(52 Reviews)
                                </div>
                        </div>
                        <div class="about-pic-right">
                            <div class="num">324</div>
                            <div class="subunit">Chestnuts</div>
                        </div>
                    </div>
                </div>
                </a>
                <div class="product2">
                    <div class="related-pic-2">
                        <div class="subcategory-each">
                            <a href="/market/renewable energy">Solar energy</a>
                        </div>
                    </div>
                    <div class="about-pic">
                        <div class="about-pic-left">
                            <div class="type">Embrace Solar Power</div>
                            <div class="rating">
                                <img src={leaf} alt="" />
                                4.9(39 Reviews)
                                </div>
                        </div>
                        <div class="about-pic-right">
                            <div class="num">500</div>
                            <div class="subunit">Chestnuts</div>
                        </div>
                    </div>
                </div>
                <div class="product3">
                    <div class="related-pic-3">
                        <div class="subcategory-each">
                            <a href="/market/renewable energy">Waste Heat Recovery</a>
                        </div>
                    </div>
                    <div class="about-pic">
                        <div class="about-pic-left">
                            <div class="type">Embrace Solar Power</div>
                            <div class="rating">
                                <img src={leaf} alt="" />
                                1.9(70 Reviews)
                                </div>
                        </div>
                        <div class="about-pic-right">
                            <div class="num">2903</div>
                            <div class="subunit">Chestnuts</div>
                        </div>
                    </div>
                </div>
                <div class="product4">
                    <div class="related-pic-4">
                        <div class="subcategory-each">
                            <a href="/market/renewable energy">Waste Heat Recovery</a>
                        </div>
                    </div>
                    <div class="about-pic">
                        <div class="about-pic-left">
                            <div class="type">Waste Heat Recovery </div>
                            <div class="rating">
                                <img src={leaf} alt="" />
                                4.9(100 Reviews)
                                </div>
                        </div>
                        <div class="about-pic-right">
                            <div class="num">109</div>
                            <div class="subunit">Chestnuts</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper-market-under">
                <div class="product5">
                    <div class="related-pic-5">
                        <div class="subcategory-each">
                            <a href="/market/renewable energy">Hydropower</a>
                        </div>
                    </div>
                    <div class="about-pic">
                        <div class="about-pic-left">
                            <div class="type">Home hydropower</div>
                            <div class="rating">
                                <img src={leaf} alt="" />
                                3.9(10 Reviews)
                                </div>
                        </div>
                        <div class="about-pic-right">
                            <div class="num">309</div>
                            <div class="subunit">Chestnuts</div>
                        </div>
                    </div>
                </div>
                <div class="product6">
                    <div class="related-pic-6">
                        <div class="subcategory-each">
                            <a href="/market/renewable energy">Renewable energy</a>
                        </div>
                    </div>
                    <div class="about-pic">
                        <div class="about-pic-left">
                            <div class="type">Home hydropower</div>
                            <div class="rating">
                                <img src={leaf} alt="" />
                                0.9(105 Reviews)
                                </div>
                        </div>
                        <div class="about-pic-right">
                            <div class="num">909</div>
                            <div class="subunit">Chestnuts</div>
                        </div>
                    </div>
                </div>
                <div class="product7"></div>
            </div>
        </div>
        <Footer></Footer>
    </div>

{% endblock %}