@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EDEDED;
    text-decoration: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
    
}
.container{
    display:flex;
    flex-direction: column;
    width: 480px;
    margin: 100px auto;
}
.block{
    background-color: white;
    padding: 12px;
    height: 330px;
    border-radius: 10px;
}
a,label,.remem{
    background-color: white;
    font-size: 0.7rem;
}
label {
    margin-top:7px;
    font-size: 14px;
}
input[type=email],input[type=password]{
    border-radius: 5px;
    margin: 15px 0 20px;
    padding: 10px;
    border: 1px solid #A4A6AF;
    background: white;
    
}
.user_box,.input_box,.others{
    display: flex;
    flex-direction: column;
    background-color: white;
    
}
/* forget password and remem */
#check{
    margin-right: 5px
}
input[type=checkbox]{
  width: 0.7rem;
  height: 0.7rem;
  color: dodgerblue;
  -webkit-appearance: none;
  background: none;
  border: 1px solid lightgray;
  outline: 0;
  flex-grow: 0;
  border-radius: 50%;
  background-color: lightgray;
  transition:300ms;
  cursor: pointer;
  vertical-align: center;
}
input[type=checkbox]:checked{
    background-color: gray;
    border: gray;

}
.link{
    margin: 10px;
    background-color: white;
    display:flex;
    justify-content: space-between;
}

a:hover{
    opacity: 0.8;
}

/* lo button */
.lo{
    font-size: 18px;
    display: grid;
    margin: auto;
    margin-top: 30px;
    vertical-align: middle;
    cursor: pointer;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
}
.lo:hover{
    opacity: 0.8;
}

/* or */
.or::before{
    content:" ";
    display: block;
    height: 1px;
    width: 180px;
     position: absolute;
    top: 50%;
    left: 2%;
    background: #A4A6AF;
}
.or::after{
    content:" ";
    display: block;
    height: 1px;
    width: 180px;
    position: absolute;
    top: 50%;
    right: 2%;
    background: #A4A6AF;
}
.or{
    margin-top: 15px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    color:#A4A6AF
    
} 
/* acount */
.account{
    margin: auto;
    font-size: smaller;
    opacity: 0.8;
    background-color: #EDEDED;
    margin-bottom: 16px;
}
.account a{
    font-weight: 600;
    background-color: #EDEDED;
    color: #1877F2;
    font-size: 13px;
}
/* others */

.others{
    margin: auto;
    padding: 12px;
    border-radius: 10px;
    background-color: white;
    width: 369px;
    
}

/* facebook */
.facebook{
    border: none;
    border-radius: 10px;
    padding: 20px;
    background: #1877F2;
    color: white;
    cursor: pointer;
}
.facebook:hover,.apple:hover{
    opacity: 0.9;
}

.f_icon{
    background-color: #1877F2;
    margin-right: 12px;
    vertical-align: baseline
}
.facebook_label{
    background-color: #1877F2;
    font-size: 16px;
}
/* google */
.google{
    margin:12px 0 12px 0;
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.17), 0px 0px 3px 0px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}
.g_icon{
    margin-right: 15px;
}
.google_label{
    background-color: white;
    font-size: 16px;
}
/* apple */
.apple{
    padding:20px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.a_icon{
    background-color: black;
    margin-right: 15px;
    vertical-align: baseline;
}
.apple_label{
    background-color: black;
    font-size: 16px;
}

/* nav bar */
.wrapper{
    display: flex;
    
}
.header{
    margin: 0 auto;
    font-size: 12px;
    border-radius: 10px;
    max-width: 1408px;
}
nav{
    border-radius: 10px;
    background-color: white;
    height: 80px;
    margin-bottom: 10px;
}
nav ul{
    margin: 10px;
    list-style: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-top: 30px;
    display: flex;
}
.logo .ham-menu{
    display: none;
}
nav ul li{
    margin-top: 30px;
    margin-right: 18px;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.cart-logo{
    display: none;
}
.ham-menu{
    display: inline-block;
    cursor: pointer;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  @media only screen and (max-width: 600px) {
    .logo h1,nav ul li a{
        display: none;
    }
    .logo .ham-menu,.cart-logo{
        display: block;
    }
  }