@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;

}
.container{
    display: flex;
    justify-content:center;
    background: #F6F6F9;
}
ul{
    list-style-type: none;
    background-color: white;
}
/* left bar */
.left_bar{
    width: 226px;
    height: 270px;
    margin-top: 16px;
    background-color: white;
    border-radius: 10px;
    margin-right: 36px;
    padding-top: 36px;
}
li{
    text-decoration: none;
    margin-bottom: 36px;
    text-align: center;
    background-color: white;
    font-weight: 550;
}

/* link */
a{
    text-decoration: none;
    color: #A4A6AF;
    background-color: white;
}
a:hover{
    color: black;
}
/* right bar */
.right_bar{
    width: 940px;
    height: 1173px;
    margin-top: 16px;
    background-color: white;
    border-radius: 5px;
    padding-top: 36px;
    padding-left: 34px;
    padding-right: 34px;
}
/* row1 */
.row1{
    background-color: white;

}
span{
    background-color: white;
}
img{
    margin-top: 16px;

}
/* upload button */
.upload{
    vertical-align: super;
    position: relative;
    padding: 8px;
    margin-left: 16px;
    margin-right: 15px;
    width: 164px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #1B1B1B;
    cursor: pointer;
    background-color: white
}
.upload:hover{
    opacity: 0.8;
}
.upload:active{
    opacity: 0.9;
}
/* delete */
.delete{
    vertical-align: super;
    width: 67px;
    height: 36px;
    color: white;
    background-color: black;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.delete:hover{
    opacity: 0.8;
}
.delete:active{
    opacity: 0.9;
}
.cluster{
    vertical-align: super;
}
/* row2 */
.row2{
    background-color: white;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}
.row2 input{
    margin-top: 8px;
    width: 416px;
    padding: 13px 16px;
    border-radius: 5px;
    border: 1px solid #1B1B1B;
    margin-bottom: 36px;
}
/* row3 */
/* not yet */
#bio{
    margin-top: 8px;
    width: 868px;
    height: 138px;
    border-radius: 5px;
    border: 1px solid #1B1B1B;
    padding:16px;
    margin-bottom: 36px;
}
textarea{
    resize: none;
}
/* row4 */
.row4{
    display: flex;
    justify-content: space-between;
}
/* input */
.row4 input{
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    border: 1px solid #1B1B1B;
    padding-left: 16px;
    padding:13px ;
    width: 416px;
}
/* add and plus*/
.add{
    margin-left: 8px;
    
}
.plus{
    background-color: white;

}
.plus:hover{
    scale: 120%;
    transition: 300ms;
}
.add_email{
    border:  none;
    background-color: white;
    cursor: pointer;
    width: 25px;
    height: 24px;
}
.add_email:hover{
    background-color: aquamarine;
}
label[for="add"]{
    vertical-align: 3px;
}
/* row 5 */
.row5{
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}
.row5 input{
    margin-top: 8px;
    border-radius: 5px;
    border: 1px solid #1B1B1B;
    padding-left: 16px;
    padding:13px ;
    width: 416px;
}
/* row6 */
.row6{
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}
.row6 input{
    margin-top: 8px;
    border-radius: 5px;
    border: 1px solid #1B1B1B;
    padding-left: 16px;
    padding:13px ;
    width: 416px;
}
/* row7 */
.row7{
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}
.row7 input{
    margin-top: 8px;
    border-radius: 5px;
    border: 1px solid #1B1B1B;
    padding-left: 16px;
    padding:13px ;
    width: 416px;
}
/* row8 */
.row8{
    margin-top: 36px;
}
.row8 select{
    margin-top: 8px;
    border-radius: 5px;
    border: 1px solid #1B1B1B;
    padding-left: 16px;
    padding:13px ;
    width: 416px;   
}
/* submit */
.submit{
    margin-top: 36px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px; 
    width: 100%;
    padding: 12px;
    cursor: pointer;
}
.submit:hover{
    opacity: 0.8;
}
.submit:active{
    opacity: 0.9;
}