{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- 
	<section class="single-carbon spad pb-0">
		<div class="container">
            <img class="rounded mx-auto d-block my-5" src="
            {% if market.image %}
                {{market.image.url}}
            {% else %}
                {% static 'img/carbonvise.png' %}
            {% endif %}" 
            alt="" class="carbon-preview">
			<div class="carbon-meta-area">
				<div class="row">
                    <div class="col-lg-10 offset-lg-1">
						<div class="carbon-note">Featured Deal</div>
						<h3>{{market.name}}</h3>
						
						<div class="carbon-metas">
							<div class="carbon-meta">
								<a href="{% url 'profiles:profile_page' market.dealer.profile.slug %}">
									<div class="carbon-author">
										<div class="ca-pic set-bg" data-setbg="
									{% if market.dealer.profile.image %}
										{{market.dealer.profile.image.url}}
									{% else %}
										{% static 'img/carbonvise.png' %}
									{% endif %}"></div>
										<h6>Dealer</h6>
										<p>{{market.dealer}} <span></span></p>
									</div>
								</a>
							</div>
							<div class="carbon-meta">
								<div class="cm-info">
									<h6>Category</h6>
									<p>{{market.get_category_name}}</p>
								</div>
							</div>
							<div class="carbon-meta">
								<div class="cm-info">
									<h6>Buyers</h6>
									<p>{{market.quantity_left}}</p>
								</div>
							</div>
							<div class="carbon-meta">
								<div class="cm-info">
									<h6>Reviews</h6>
									<p>2 Reviews <span class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star is-fade"></i>
									</span></p>
								</div>
							</div>
						</div>
						
						{% if user == market.dealer %}
						<a href="{% url 'market:market_update' market.slug %}" class="site-btn price-btn">Update deal</a>	
						<a href="{% url 'market:market_delete' market.slug %}" class="site-btn buy-btn">Delete deal</a>	
						{% else %}
						<a href="#" class="site-btn price-btn">Price: ${{market.price_per_unit}}</a>
						<button data-slug='{{market.slug}}' data-action='add' class="site-btn buy-btn update-cart">Add to cart</button>
						{% endif %}
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-10 offset-lg-1 carbon-list">
					<div class="cl-item">
						<h4 class="my-5">Description</h4>
						<p>{{market.long_description | safe}}</p>
					</div>
					<!-- <div class="cl-item">
						<h4>Certification</h4>
						<p>Phasellus sollicitudin et nunc eu efficitur. Sed ligula nulla, molestie quis ligula in, eleifend rhoncus ipsum. Donec ultrices, sem vel efficitur molestie, massa nisl posuere ipsum, ut vulputate mauris ligula a metus. Aenean vel congue diam, sed bibendum ipsum. Nunc vulputate aliquet tristique. Integer et pellentesque urna. Lorem ipsum dolor sit amet, consectetur. Phasellus sollicitudin et nunc eu efficitur. Sed ligula nulla, molestie quis ligula in, eleifend rhoncus ipsum. Donec ultrices, sem vel efficitur molestie, massa nisl posuere ipsum.</p>
					</div> -->
					<!-- <div class="cl-item">
						<h4>About The Dealer</h4>
						<p>Sed ligula nulla, molestie quis ligula in, eleifend rhoncus ipsum. Donec ultrices, sem vel efficitur molestie, massa nisl posuere ipsum, ut vulputate mauris ligula a metus. Aenean vel congue diam, sed bibendum ipsum. Nunc vulputate aliquet tristique. Integer et pellentesque urna. Lorem ipsum dolor sit amet, consectetur. Phasellus sollicitudin et nunc eu efficitur. Sed ligula nulla, molestie quis ligula in, eleifend rhoncus ipsum. Donec ultrices, sem vel efficitur molestie, massa nisl posuere ipsum, ut vulputate mauris ligula a metus. </p>
					</div>
				</div>
			</div>
		</div> -->
	 
    
    
   
	
	
	<div class="container">
		<div class="market-inside">
		<div class="market-insideContainer">
			<div class="top-side">
				<div class="first-layer">
					<div class="undo"><a href="/market"><img src={undo} alt="" /></a></div>
					<div class="threedots"><img src={dots} alt="" /></div>
				</div>

				<div class="second-layer">
					<div class="left-second-layer set-bg" data-setbg="
					{% if market.image %}
                {{market.image.url}}
            {% else %}
                {% static 'img/carbonvise.png' %}
            {% endif %}">
						
					</div>
					<div class="mid-second-layer">
						<div class="mid-title">{{market.name}}</div>
						<div class="score"> 
							<img src="{% static 'img/leaf10.svg' %}" alt="" />
							<img src="{% static 'img/leaf10.svg' %}" alt="" />
							<img src="{% static 'img/leaf3.svg' %}" alt="" />
							<img src="{% static 'img/leaf3.svg' %}" alt="" />
							<img src="{% static 'img/leaf3.svg' %}" alt="" />
							<div class="mid-text">1.9 ( 70 Reviews)</div>
						</div>
						<div class="mid-type">
							<a style="color: black;" href="/market-inside/solar energy">{{market.get_category_name}}</a>
						</div>
							<div class="mid-decription-title">รายละเอียด</div>
							<div class="mid-decription-info">  {{market.short_description}}
							</div>
					</div>
					<div class="right-second-layer">
						<div class="right-topbox">
							<div class="upper-topbox">
								<div class="upper-topLeft">
									<div class="left-total">Total</div>
									<div class="adjust-num">
										<div class="minus"><img src={minus} alt="" /></div>
										<!-- <div class="x">01</div> -->
										<div class="plus"><img src={plus} alt="" /></div>
									</div>
								</div>
								<div class="upper-topRight">
									<div class="num">{{market.quantity_left}}</div>
									<div class="subunit-inside">คงเหลือ</div>
								</div>
							</div>
							<div class="upper-bottom">
								<div class="add-cart">
									<div>{{market.price_per_unit}} บาท</div>
								</div>
								
									{% if user == market.dealer %}
									<div class="buy">
										<a href="{% url 'market:market_update' market.slug %}" class=" price-btn">Update deal</a>	
									</div>
									<div class="buy">
										<a href="{% url 'market:market_delete' market.slug %}" class=" buy-btn">Delete deal</a>	
									</div>
									{% else %}
									<div class="buy">
										<div data-slug='{{market.slug}}' data-action='add' class="update-cart">เพิ่มลงตะกร้า</div>
									</div>
									{% endif %}

								
							</div>
						</div>
						<div class="right-botbox">
							<div class="userpic set-bg" data-setbg="{% if market.dealer.profile.image %}
								{{market.dealer.profile.image.url}}
							{% else %}
								{% static 'img/carbonvise.png' %}
							{% endif %}" alt="">
							</div>
							<div class="about-userpic">
								<div class="name-userpic">{{market.dealer}}</div>
								<div class="wrapper">
									<div class="rating-userpic">3.9</div>
									<div class="view">
										<a style="color: black;" href="{% url 'profiles:profile_page' market.dealer.profile.slug %}">ดูผู้ขาย</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>

				<!-- {/* responsive */} -->

				<div class="second-layer-responsive">
					<div class="mid-second-layer-res">
						<div class="mid-title">{{market.name}}</div>
						<div class="mid-img-market-inside-res">
							<img src="{% if market.image %}
							{{market.image.url}}
						{% else %}
							{% static 'img/carbonvise.png' %}
						{% endif %}" alt="" />	
						</div>
						<div class="mid-decription-title">Decription</div>
						<div class="mid-decription-info">   Lorem ipsum dolor sit amet consectetur adipisicing elit. In, similique! Corrupti iste quia repellendus deserunt officiis facere. Iusto quibusdam aperiam dolores aliquid itaque dolorum quis perferendis asperiores! Quibusdam, atque voluptatem!
						</div>
						<div class="underline-insidemarket-res"></div>
						<div class="user-info-market-inside-res">
							<div class="userpic-res">
								<img src="" alt="" />
							</div>
							<div class="right-side-userpic">
								<div class="name-userpic">{{market.dealer}}</div>
								<div class="rating-userpic">3.9</div>
								<div class="view">
									<a style="color: black;" href="{% url 'profiles:profile_page' market.dealer.profile.slug %}">ดูผู้ขาย</a>
								</div>
							</div>
						</div>
						<div class="underline-insidemarket-res"></div>
					</div>
					<!-- {/* added block-responsive  */} -->
			<div class="add-market-inside-res">
				<div class="add-market-inside-res-container">
					<div class="left-side-added-block-res">
						<div class="num">2903</div>
						<div class="subunit-inside">Chestnuts</div>
					</div>
					<div class="right-side-added-block-res">
						<div class="adjust-num">
							<div class="minus"><img src={minus} alt="" /></div>
							<div class="x">01</div>
							<div class="plus"><img src={plus} alt="" /></div>
						</div>
						<div class="upper-bottom">
							<div class="add-cart">
								<a style="color: black;" href="/market-inside/add-cart">add to cart</a>
							</div>
							<div class="buy">
								<a style="color: white;" href="/market-inside/buy">buy</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bot-side">
			<div class="bot-sidenav">
				<div class="RatingReviews">เกี่ยวกับโครงการนี้</div>
				<div class="sorted">
					<div class="uppersorted">
						<div class="sorted-by">sorted by </div>
						<div class="underline-sorted"></div>
					</div>
					<div class="lowersorted">
						<div class="date">date</div>
						<div class="reviews">reviews</div>
					</div>
				</div>
			</div>
			<div class="bot-underline"></div>
			<div class="all-comment">
				<div class="all-comment-container">
					{{market.long_description | safe}}
				</div>
			</div>
		</div>

		</div>

		</div>    

	</div>
		</div>
		</div>
	</div> 
	</section>
    	<section class="related-carbons spad">
		<div class="carbon-warp">
			<h2 class="rc-title">{{market.get_category_name}} Deals</h2>
			<div class="rc-slider owl-carousel">
				<!-- the carousel still has the deal above.(fix later) -->
                {% for deal in deal_list %}
                    <a href="{% url 'market:market_detail' deal.slug %}">
                        <div class="carbon-item">
                            <div class="carbon-thumb set-bg" data-setbg="{% if deal.image %}
							{{deal.image.url}}
						{% else %}
							{% static 'img/carbonvise.png' %}
						{% endif %}">
                                <div class="price">฿{{deal.price_per_unit}}/chestnut</div>
                            </div>
                            <div class="carbon-info">
                                <div class="carbon-text">
                                    <h5>{{deal.name}}</h5>
                                    <p>{{deal.short_description}}</p>
                                    <div class="students">{{deal.quantity_left}}</div>
                                </div>
                                <div class="carbon-author">
                                    <div class="ca-pic set-bg" data-setbg="
								{% if deal.dealer.profile.image %}
                                    {{deal.dealer.profile.image.url}}
                                {% else %}
                                    {% static 'img/carbonvise.png' %}
                                {% endif %}"></div>
                                    <p>{{deal.dealer}}, <span>{{deal.get_category_name}}</span></p>
                                </div>
                            </div>
                        </div>
                    </a>
				{% endfor %}
			</div>
		</div>
	</section>

{% endblock %}