
{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- carbon section -->
<section class="carbon-section spad">
    <div class="container">
        <div class="section-title mb-0">
            <h1 class="my-3">ตลาดคาร์บอน</h1>
            <p>The most effective way to buy carbon credits is by investing directly in carbon offset projects. This option requires that you perform research to ensure that the offset program is actually working to eliminate carbon emissions, not simply 'moving them around.</p>
        </div>
    </div>
    <div class="container carbon-market-list">
        <div class="carbon-warp">
            <ul class="carbon-filter controls">
                <li class="control active" data-filter="all">All</li>
                <li class="control" data-filter=".solar">Solar Energy</li>
                <li class="control" data-filter=".Biof">Biofuel</li>
                <li class="control" data-filter=".water">Water Sources</li>
                <li class="control" data-filter=".forest">Forest</li>
            </ul>                                       
            <div class="row carbon-items-area">
                <!-- carbon -->
            {% for deal in market_list reversed %}
                    <div class="mix col-lg-3 col-md-4 col-sm-6 {{deal.category}}">
                        <div class="carbon-item">
                            <a href="{% url 'market:market_detail' deal.slug %}">
                                <div class="carbon-thumb set-bg" data-setbg="
                                {% if deal.image %}
                                    {{deal.image.url}}
                                {% else %}
                                    {% static 'img/carbonvise.png' %}
                                {% endif %}">
                                    <div class="price">Price: ฿{{deal.price_per_unit}}</div> 
                                </div>
                                    <div class="carbon-info">
                                        <div class="carbon-text">
                                            <h5>{{deal.name}}</h5>
                                            <p>{{deal.short_description}}</p>
                                            
                                            <div class="students">{{deal.number_of_buyer}}/1000 Chestnuts </div>
                                        </div>
                            </a>
                                            <div class="carbon-author">
                                                <a href="{% url 'profiles:profile_page' deal.dealer.profile.slug %}"> 
                                                    <div class="ca-pic set-bg" data-setbg=" 
                                                    {% if deal.dealer.profile.image %}
                                                        {{deal.dealer.profile.image.url}}
                                                    {% else %}
                                                        {% static 'img/carbonvise.png' %}
                                                    {% endif %}"></div>
                                                </a> 
                                                <a href="{% url 'profiles:profile_page' deal.dealer.profile.slug %}">
                                                    <p>{{deal.dealer}}, <span>{{deal.get_category_name}}</span></p>
                                                </a>
                                            </div>
                                        
                                    </div>
                                
                    </div>
            </div>
            {% endfor %}
    </div>
            <!-- carbon -->
            <!-- <div class="mix col-lg-3 col-md-4 col-sm-6 design">
                <div class="carbon-item">
                    <div class="carbon-thumb set-bg" data-setbg="{% static 'img/carbonvise.png' %}">
                        <div class="price">Price: $15</div>
                    </div>
                    <div class="carbon-info">
                        <div class="carbon-text">
                            <h5>IT Development</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                            <div class="students">120 Students</div>
                        </div>
                        <div class="carbon-author">
                            <div class="ca-pic set-bg" data-setbg="{% static 'img/carbonvise.png' %}"></div>
                            <p>William Parker, <span>Developer</span></p>
                        </div>
                    </div>
                </div>
            </div>
            carbon
            <div class="mix col-lg-3 col-md-4 col-sm-6 web">
                <div class="carbon-item">
                    <div class="carbon-thumb set-bg" data-setbg="{% static 'img/carbonvise.png' %}">
                        <div class="price">Price: $15</div>
                    </div>
                    <div class="carbon-info">
                        <div class="carbon-text">
                            <h5>Graphic Design</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                            <div class="students">120 Students</div>
                        </div>
                        <div class="carbon-author">
                            <div class="ca-pic set-bg" data-setbg="{% static 'img/carbonvise.png' %}"></div>
                            <p>William Parker, <span>Developer</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- carbon -->
            <!-- <div class="mix col-lg-3 col-md-4 col-sm-6 photo">
                <div class="carbon-item">
                    <div class="carbon-thumb set-bg" data-setbg="{% static 'img/carbonvise.png' %}">
                        <div class="price">Price: $15</div>
                    </div>
                    <div class="carbon-info">
                        <div class="carbon-text">
                            <h5>IT Development</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                            <div class="students">120 Students</div>
                        </div>
                        <div class="carbon-author">
                            <div class="ca-pic set-bg" data-setbg="{% static 'img/carbonvise.png' %}"></div>
                            <p>William Parker, <span>Developer</span></p>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- carbon -->
            <!-- <div class="mix col-lg-3 col-md-4 col-sm-6 finance">
                <div class="carbon-item">
                    <div class="carbon-thumb set-bg" data-setbg="{% static 'img/carbonvise.png' %}">
                        <div class="price">Price: $15</div>
                    </div>
                    <div class="carbon-info">
                        <div class="carbon-text">
                            <h5>IT Development</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                            <div class="students">120 Students</div>
                        </div>
                        <div class="carbon-author">
                            <div class="ca-pic set-bg" data-setbg="{% static 'img/carbonvise.png' %}"></div>
                            <p>William Parker, <span>Developer</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- carbon -->
            <!-- <div class="mix col-lg-3 col-md-4 col-sm-6 design">
                <div class="carbon-item">
                    <div class="carbon-thumb set-bg" data-setbg="{% static 'img/carbonvise.png' %}">
                        <div class="price">Price: $15</div>
                    </div>
                    <div class="carbon-info">
                        <div class="carbon-text">
                            <h5>Socia Media</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                            <div class="students">120 Students</div>
                        </div>
                        <div class="carbon-author">
                            <div class="ca-pic set-bg" data-setbg="{% static 'img/carbonvise.png' %}"></div>
                            <p>William Parker, <span>Developer</span></p>
                        </div>
                    </div>
                </div>
            </div>  -->
            <!-- carbon -->
            <!-- <div class="mix col-lg-3 col-md-4 col-sm-6 web">
                <div class="carbon-item"> -->
                    <!-- <div class="carbon-thumb set-bg" data-setbg="{% static 'img/carbonvise.png' %}">
                        <div class="price">Price: $15</div>
                    </div>
                    <div class="carbon-info">
                        <div class="carbon-text">
                            <h5>IT Development</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                            <div class="students">120 Students</div>
                        </div>
                        <div class="carbon-author">
                            <div class="ca-pic set-bg" data-setbg="{% static 'img/carbonvise.png' %}"></div>
                            <p>William Parker, <span>Developer</span></p>
                        </div>
                    </div>
                </div>
            </div>
            carbon
            <div class="mix col-lg-3 col-md-4 col-sm-6 photo">
                <div class="carbon-item">
                    <div class="carbon-thumb set-bg" data-setbg="{% static 'img/carbonvise.png' %}">
                        <div class="price">Price: $15</div>
                    </div>
                    <div class="carbon-info">
                        <div class="carbon-text">
                            <h5>HTML 5</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                            <div class="students">120 Students</div>
                        </div>
                        <div class="carbon-author">
                            <div class="ca-pic set-bg" data-setbg="{% static 'img/carbonvise.png' %}"></div>
                            <p>William Parker, <span>Developer</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</section>



{% endblock %}