{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Carbonvise</title>
	<meta charset="UTF-8">
	<meta name="description" content="Carbonvise">
	<meta name="keywords" content="Carbonvise">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	   
	
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
	
	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>

	<script>
		var user = '{{request.user}}';
		
		function getToken(name) {
			let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				const cookies = document.cookie.split(';');
				for (let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		const csrftoken = getToken('csrftoken');
	</script>
	
	
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' %}"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js' %}"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
				<div class="container-fluid">
				  <a class="navbar-brand" href="{% url 'index' %}"><strong>CARBONVISE</strong></a>
				  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarText">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link"  href="{% url 'index' %}">หน้าหลัก</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'market:market_list' %}">ตลาดคาร์บอน</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">บล็อก</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">อันดับรายจังหวัด</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'user_list' %}">ผู้ใช้ทั้งหมด</a>
						</li>
					</ul>
					<span class="navbar-text">
						<span class="nav-cart me-4">
							<a class="" href="{% url 'cart:carts' %}" style="text-decoration:none">
								<i class="fa fa-shopping-cart"  ></i>
								{{user.profile.cart.cart_item_total}}
							</a>
						</span>
						{% if user.is_authenticated %}
					
							<a class="font-weight-bold " href="{% url 'profiles:profile_page' user.profile.slug %}" style="text-decoration:none">{{user}}</a>
							
						{% else %}
						
						<!-- {% url 'account_logout' %} -->
							<a href="{% url 'account_login' %}" class="nav-item me-3" style="text-decoration:none"> Login</a>
							<a href="{% url 'account_signup' %}" class="nav-item" style="text-decoration:none"> Sign up</a> 
						
						{% endif %} 
						 
					</span>
				  </div>
				</div>
			  </nav>
         
		</div>
	</header>
	<!-- Header section end -->

{% block content %}    

{% endblock %}

	

	<!-- banner section -->
	<div class="my-5">
		<div class="my-5">
			
		</div>
	</div>
	<!-- banner section end -->


	<!-- footer section -->
	<footer class="footer-section spad pb-0">
		<div class="footer-top">
			<div class="footer-warp">
				<div class="row">
					<div class="widget-item">
						<h4>Contact Info</h4>
						<ul class="contact-list">
							<li>
                                Chestnut Team. <br>
                                254 Phaya Thai Rd, Wang Mai, Pathum Wan, Bangkok 10330
                                 </li>
							<li>Tel goes here</li>
							<li>Chestnut@gmail.com</li>
						</ul>
					</div>
					<div class="widget-item">
						<h4>Chestnut Team</h4>
						<ul>
							<li><a href="https://www.cp.eng.chula.ac.th/cedt"target='_blank'>
								1	นายรัชพล กิมอ่วม เก้า <br>
								2	นายศิษฏ์	ศรีอรพินท์งาม	ซัน<br>
								3	นายอริญชย์	อริยะตา	หมูหยอง<br>
								4	กษิดิศ	แซ่เกาะ	ย่วยหลง<br>
								5	จิรวัฒน์	สุทธิศิริมงคล	เจมส์</a></li>
							

						</ul>
					</div>

					<div class="widget-item">
						<h4>รายงานปัญหา</h4>
						<form class="footer-newslatter">
							<input type="text" placeholder="แจ้งให้เราทราบ">
							<button class="site-btn">รายงาน</button>
							<p></p>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="footer-warp">
				<ul class="footer-menu">
					<li><a href="#">Terms & Conditions</a></li>
					<li><a href="#">Support Chestnut Team</a></li>
					<li><a href="#">Privacy</a></li>
				</ul>
				
			</div>
		</div>
	</footer> 
	<!-- footer section end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
	<!-- <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script> -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/mixitup.min.js' %}"></script>
	<script src="{% static 'js/circle-progress.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/carts.js' %}"></script>
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"> -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script> -->



	<script src="{% static 'js/map.js' %}"></script>

</html>