{% extends 'base.html' %}
{% load static %}
{% block content %}
	<!-- Hero section -->
	<section class="hero-section set-bg" data-setbg="{% static 'img/forest.jpg' %}">
		<div class="container">
			<div class="hero-text text-white">
				{% if user.is_authenticated %}
				<h2>Unlocking a Sustainable Future<br> Empowering Changes through Carbon Credits</h2>
				<!-- <h2 class="">Welcome, {{user}} </h2> -->
				{% else %}
				<h2>Unlocking a Sustainable Future<br> Empowering Changes through Carbon Credits</h2>
				<p></p>
				{% endif %}
			</div>
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<form class="intro-newslatter">
						{% if user.is_authenticated %}
						{% else %}	
						<input type="text" placeholder="Name">
						<input type="text" class="last-s" placeholder="E-mail">
						<button class="site-btn">Sign Up Now</button>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->


	<!-- categories section -->
	<section class="categories-section spad">
		<div class="container">
			<div class="section-title">
				<h2>Our Career Path</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
			</div>
			<div class="row">
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/carbonvise.png' %}"></div>
						<div class="ci-text">
							<h5>Voluntary Marketing</h5>
							<p>Lorem ipsum dolor sit amet, consectetur</p>
							<span>120 Chestnuts</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/carbonvise.png' %}"></div>
						<div class="ci-text">
							<h5>Business</h5>
							<p>Lorem ipsum dolor sit amet, consectetur</p>
							<span>70 Chestnuts</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/carbonvise.png' %}"></div>
						<div class="ci-text">
							<h5>Illustration & Drawing</h5>
							<p>Lorem ipsum dolor sit amet, consectetur</p>
							<span>55 Chestnuts</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/carbonvise.png' %}"></div>
						<div class="ci-text">
							<h5>Social Media</h5>
							<p>Lorem ipsum dolor sit amet, consectetur</p>
							<span>40 Chestnuts</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/carbonvise.png' %}"></div>
						<div class="ci-text">
							<h5>Photoshop</h5>
							<p>Lorem ipsum dolor sit amet, consectetur</p>
							<span>220 Chestnuts</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/carbonvise.png' %}"></div>
						<div class="ci-text">
							<h5>Cryptocurrencies</h5>
							<p>Lorem ipsum dolor sit amet, consectetur</p>
							<span>25 Chestnuts</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- categories section end -->


	<!-- search section -->
	<section class="search-section">
		<div class="container">
			<div class="search-warp">
				<div class="section-title text-white">
					<h2>Buy Carbon credits</h2>
				</div>
				<div class="row">
					<div class="col-md-10 offset-md-1">
						<!-- search form -->
						<form class="carbon-search-form">
							<input type="text" placeholder="Carbon">
							<input type="text" class="last-m" placeholder="Category">
							<button class="site-btn">Search for a dealer</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- search section end -->



	<!-- signup section -->
	<section class="signup-section spad my-5">
		<!-- <div class="signup-bg set-bg" data-setbg="{% static 'img/carbonvise.png' %}"></div> -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6">
					<div class="signup-warp">
						<div class="section-title text-white text-left">
							<h2>Become a Carbon Credit Dealer</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
						</div>
						<!-- signup form -->
						<form class="">

							<button class="site-btn ">Go to dealer page</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- signup section end -->
{% endblock %} 