{% extends 'base.html' %}
{% load static %}
{% block content %}	
<link rel="stylesheet" href="{% static 'css/mainpage.css' %}"/>

<div class="main-top-section">
	<div class="blur alt ">
		<div class="hero-img">
			<div class="index-slider owl-carousel">
				<img src="{% static 'img/sakuraback.jpg' %}" alt="">
				<img src="{% static 'img/forestback.jpg' %}" alt="">
			</div>
		</div>
		
		
		<span class="blurry set-bg" data-setbg="{% static 'img/sakuraback.jpg' %}"></span>
		<div class="overlay">
			<div class="overlay-container">
			<div class="overlay-text">
				<h2>Nurture Our Planet</h2>
				<h3>เราเปลี่ยนการจัดการคาร์บอนที่น่าเบื่อ<br>ให้กลายเป็นตลาดซื้อขายคาร์บอนที่น่าตื่นเต้น</h3>
				<div class="start-btn">
					เริ่มต้นตอนนี้
				</div>
			</div>
			</div>
		</div>
	</div>

	
</div>



	<!-- Hero section -->
	<!-- <section class="hero-section set-bg" data-setbg="{% static 'img/forest2.jpg' %}">
		<div class="container">
	
			<div class="hero-text">
				
				
			</div>
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<form class="intro-newslatter">
						{% if user.is_authenticated %}
						{% else %}	
						<input type="text" placeholder="Name">
						<input type="text" class="last-s" placeholder="E-mail">
						<button class="site-btn">Sign Up Now</button>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</section> -->
	<!-- Hero section end -->
	<!-- <section class="banner-section spad">
		<div class="container">
			<div class="section-title mb-0 pb-2">
				<h4>ครอบครองสถานะ "เป็นกลางทางคาร์บอน" ได้ง่าย ๆ </h4>
				<h5>ร่วมช่วยโลกของเราโดยการลดการปล่อยคาร์บอนให้ได้มากที่สุด!</h5>
			</div>
			<div class="text-center pt-5">
				<a href="#" class="site-btn neutral">เริ่มต้นตอนนี้เลย</a>
			</div>
		</div>
	</section>	 -->
	
	<!-- categories section -->
	<section class="categories-section spad">
		<div class="container">
			<div class="section-title">
				<h2>เราทำได้อย่างไร ?</h2>
				<p>“ตลาดคาร์บอน” หรือตลาดซื้อขายคาร์บอน (Carbon Market) เริ่มมีแนวคิดที่ใช้กลไกตลาดเป็นแรงจูงใจในการลดการปล่อยก๊าซเรือนกระจก โดยกำหนดให้ “คาร์บอนเครดิต” เป็นสินค้าสำหรับการซื้อขายได้ จึงทำให้เกิดเป็น “ตลาดคาร์บอน” ขึ้น รวมทั้งยังทำให้เกิดการการกำหนดราคาของคาร์บอนเครดิตด้วย ซึ่งตามทฤษฎีเศรษฐศาสตร์แล้ว กลไกการตลาดดังกล่าวจะเป็นการทำให้ต้นทุนของการลดปล่อยก๊าซเรือนกระจกต่ำที่สุด ตลาดคาร์บอนสามารถแยกออกได้เป็น 2 กลุ่ม ได้แก่ ตลาดทางการและตลาดแบบสมัครใจ</p>
			</div>
			<div class="row">
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/design3.jpg' %}"></div>
						<div class="ci-text">
							<h5>ตลาดคาร์บอน</h5>
							<p> ซื้อคาร์บอนได้อย่างสะดวกสะบาย ช่วยโลกง่าย ๆ เพียงปลายนิ้ว</p>
							<span></span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/carbonvise.png' %}"></div>
						<div class="ci-text">
							<h5>สร้างเซสชั่นแล้วเริ่มต้นได้เลย</h5>
							<p>"เซสชั่น" จะเก็บประวัติการชื้อคาร์บอนและจำนวนคาร์บอนที่ซื้อทั้งหมด เราให้เวลาคุณ 30 วันในแต่ละเซสชั่น</p>
							<span></span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/forestback.jpg' %}"></div>
						<div class="ci-text">
							<h5>รับอาชีฟเมนต์ระหว่างทาง</h5>
							<p>เรามีอาชีฟเมนต์ให้ เมื่อคุณซื้อคาร์บอนได้ถึงเป้าหมาย คุณจะได้รับแผ่นป้ายสุดเท่ที่สลักชื่อของคุณเอง แน่นอนว่าสามารถนำไปอวดคนอื่นได้อย่างภาคภูมิใจ</p>
							<span></span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/carbonvise.png' %}"></div>
						<div class="ci-text">
							<h5>แข่งขันระดับจังหวัด</h5>
							<p>แข่งขันระดับจังหวัด</p>
							<span>40 Chestnuts</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/carbonvise.png' %}"></div>
						<div class="ci-text">
							<h5>แชร์ประสบการณ์ให้คนอื่นฟัง</h5>
							<p>Lorem ipsum dolor sit amet, consectetur</p>
							<span>220 Chestnuts</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/carbonvise.png' %}"></div>
						<div class="ci-text">
							<h5>ลงขายคาร์บอน</h5>
							<p>เราเปิดให้ทุกคนลงข้ายคาร์บอนได้อย่างอิสระขอแค่มีหลักฐานยืนยันจาก อบก.</p>
							<span>25 Chestnuts</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<!-- <div class="col-lg-4 mb-4 mb-lg-0"> -->

		<div id="accordion" class="accordion-area">
			<div class="panel">
				<div class="panel-header" id="headingOne">
					<button class="panel-link" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">Praesent neque metus, accumsan in sagittis eu, mattis vitae</button>
				</div>
				<div id="collapse1" class="collapse" aria-labelledby="headingOne" data-bs-parent="#accordion">
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
					</div>
				</div>
			</div>
			<div class="panel">
				<div class="panel-header" id="headingTwo">
					<button class="panel-link" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">Neque metus, accumsan in sagittis eu, mattis</button>
				</div>
				<div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
					</div>
				</div>
			</div>
			<div class="panel">
				<div class="panel-header active" id="headingThree">
					<button class="panel-link" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="true" aria-controls="collapse3">Vivamus sollicitudin nisi sit amet dolor varius, et porta</button>
				</div>
				<div id="collapse3" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
					</div>
				</div>
			</div>
		</div>
	<!-- </div> -->
	<!-- <div class="col-lg-6"> -->
						<!-- Tabs -->
						<div class="tab-element">
							<ul class="nav nav-tabs" id="myTab" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="1-tab" data-bs-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">ดูภารกิจของเรา</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="2-tab" data-bs-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">ดูทีมของเรา</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="3-tab" data-bs-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">เป็นส่วนหนึ่งของภารกิจนี้</a>
								</li>
							</ul>
							<div class="tab-content" id="myTabContent">
								<!-- single tab content -->
								<div class="tab-pane show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
									<section class="signup-section spad set-bg" data-setbg="{% static 'img/carbonback.jpg' %}">
										<!-- <div class="signup-bg set-bg" data-setbg="{% static 'img/carbonvise.png' %}"></div> -->
										<div class="container-fluid">
											<div class="row">
												<div class="col-lg-6">
													<div class="signup-warp">
														<div class="section-title">
															<div class="text-flex-us">เราไม่ได้ทำเล่น ๆ</div>
															<div class="text-flex-des my-5">เรามีภารกิจใหญ่ และเราต้องการความร่วมมือจาก<span class="allofyou">พวกคุณทุกคน</span> </div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
								<div class="tab-pane" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
									<section class="signup-section spad set-bg" data-setbg="{% static 'img/sakuraback.jpg' %}">
										<!-- <div class="signup-bg set-bg" data-setbg="{% static 'img/carbonvise.png' %}"></div> -->
										<div class="container-fluid">
											<div class="row">
												<div class="col-lg-6">
													<div class="signup-warp">
														<div class="section-title">
															<div class="text-flex-us">เราไม่ได้ทำเล่น ๆ</div>
															<div class="text-flex-des my-5">เรามีภารกิจใหญ่ และเราต้องการความร่วมมือจาก<span class="allofyou">พวกคุณทุกคน</span> </div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
								<div class="tab-pane" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
									<section class="signup-section spad set-bg" data-setbg="{% static 'img/forestback.jpg' %}">
										<!-- <div class="signup-bg set-bg" data-setbg="{% static 'img/carbonvise.png' %}"></div> -->
										<div class="container-fluid">
											<div class="row">
												<div class="col-lg-6">
													<div class="signup-warp">
														<div class="section-title">
															<div class="text-flex-us">เราไม่ได้ทำเล่น ๆ</div>
															<div class="text-flex-des my-5">เรามีภารกิจใหญ่ และเราต้องการความร่วมมือจาก<span class="allofyou">พวกคุณทุกคน</span> </div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
						
						</div>
					

			<!-- </div> -->
	</section>
	<!-- categories section end -->


	<!-- search section -->
	<!-- <section class="search-section">
		<div class="container">
			<div class="search-warp">
				<div class="section-title text-white">
					<h2>Buy Carbon credits</h2>
				</div>
				<div class="row">
					<div class="col-md-10 offset-md-1">
						<!-- search form -->
						<!-- <form class="carbon-search-form">
							<input type="text" placeholder="Carbon">
							<input type="text" class="last-m" placeholder="Category">
							<button class="site-btn">Search for a dealer</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>  -->
	<!-- search section end -->



	<!-- signup section -->
	<!-- <section class="signup-section spad set-bg" data-setbg="{% static 'img/carbonback.jpg' %}"> -->
		<!-- <div class="signup-bg set-bg" data-setbg="{% static 'img/carbonvise.png' %}"></div> -->
		<!-- <div class="container-fluid">
			<div class="row">
				<div class="col-lg-6">
					<div class="signup-warp">
						<div class="section-title">
							<div class="text-flex-us">เราไม่ได้ทำเล่น ๆ</div>
							<div class="text-flex-des my-5">เรามีภารกิจใหญ่ และเราต้องการความร่วมมือจาก<span class="allofyou">พวกคุณทุกคน</span> </div>
						</div> -->
						<!-- signup form -->
						

						
					<!-- </div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- signup section end -->
	<div class="container">
		<div id="map-canvas"></div>
		<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6332.478370682145!2d100.53338985065469!3d13.739896827570131!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29f2aae33623f%3A0x421e0643a63c2093!2z4LiI4Li44Lis4Liy4Lil4LiH4LiB4Lij4LiT4LmM4Lih4Lir4Liy4Lin4Li04LiX4Lii4Liy4Lil4Lix4Lii!5e0!3m2!1sth!2sth!4v1687720196839!5m2!1sth!2sth" width="600" height="600" style="border: 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
	</div>


<script src="{% static 'js/bootstrap.min.js' %}"></script>	
{% endblock %} 