/* top-block */
.top-block-profile{
    background-color: white;
    max-width: 1408px;
    height: max-content;
    border-radius: 5px;
}
.top-block-profile-container{
    max-width: 1358px;
    margin: 0 auto;
}
.profile-title{
    font-size: 36px;
    padding: 10px 0;
}

/* ProfilePage-Top */
.side-profile{
    margin-top: 10px;
}
.top-top-profile{
    display: flex;
    width: 100%;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
}
.userFace{
    margin: 0 20px;
}
.name{
    font-size: 36px;
}
.description{
    display: flex;
    align-items: center;
    padding: 10px 0 0 0;
    color: #A4A6AF;
    opacity: 0.5;
}
.description a{
    margin-left: 5px;
    text-decoration: none;
}

/* ProfilePage-2ndLayer*/

.wrapper-profile{
    display: flex;
    margin: 10px 0;
}
.rank-andmore-block{
    display: flex;
    width: 700px;
    height: 250px;
    background-color: white;
    border-radius: 5px;
}
.rank-block{
    margin: auto;
    height: 230px;
    width: 400px;
}
.rank-block-container{
    width: 300px;
    margin: 0 auto;
}
.rank-text,.reduced-text,.carbon-text{
    font-size: 36px;
}
.number-order,.percent,.offset-natural{
    margin-top: 20px;
    color: #EC6C03;
    font-size: 80px;
    text-align: right;
}
.streak{
    margin-top: 20px;
    text-align: right;
    font-size: 16px;
}
.andmore-block{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}   
.reduced-block,.carbon-status-block{
    width: 350px;
    height: 250px;
    border-radius: 5px;
    background: #FFF;
    margin-left: 10px;
}
.reduced-block-container,.carbon-status-block-container{
    width: 300px;
    margin: 10px auto;
}
.from-text{
    margin: 10px 0;
    text-align: right;
}
.chestnuts-amount{
    text-align: right;
    color: #A4A6AF;
    opacity: 0.5;
}

/* Project */
.project{
    width: 100%;
    height: 416px;
    background-color: white;
    border-radius: 5px;
}
.project-container{
    height: 400px;
    margin: auto 0 auto 20px;
}
.project-title{
    font-size: 36px;
    padding: 20px 0;
}

/* Blogs */
.blogs-profile{
    margin-top: 10px;
    height: 393px;
    width: 100%;
    border-radius: 5px;
    background-color: white;
}
.blogs-profile-container{
    height: 480px;
    margin: auto 0 auto 20px;
}
.blogs-text{
    font-size: 36px;
    padding: 20px 0;
}
.blogs-content{
    display: flex;
}
.nav-eachblog-profile{
    display: flex;
    justify-content: space-between;
}
.time-profile{
    color: #AAACB4;
    opacity: 0.5;
}
.secondblog-profile,.thirdblog-profile{
    display: flex;
    flex-direction: column;
    width: 341px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    margin-right: 15px;
    border: 1px solid black;
}

/* responsive */
@media only screen and (max-width: 600px) {
    /* profile */
    
  }