/* Leaderboard */
/* Top-block */
.underline-filter-leaderboard{
    margin-left: 10px;
    background-color: black;
    width: 1125px;
    height: 0.5px;
}
.underLine-last-update{
    margin-left: 10px;
    background-color: black;
    width: 100px;
    height: 0.5px;
}
.Last-update-date{
    margin-top: 15px;
    font-weight: 700;
}

/* Table-block */
.table-block{
    margin-top: 10px;
    height: 741px;
    max-width: 1408px;
    background-color: white;
    border-radius: 5px;
}
.table-block-container{
    max-width: 1336px;
    margin: 0 auto;
}
.leaderboard-table{
    margin: 0 auto;
    border-collapse: collapse;
    width: 1336px;
}
.leaderboard-table thead tr th{
    font-weight: normal;
}
.leaderboard-table thead tr {
    text-align: left;
    border-bottom: 1px solid black;
}
.leaderboard-table tbody tr {
    text-align: left;
}
.leaderboard-table th,.leaderboard-table td{
    padding: 15px 100px;
}
.offset{
    color: #EC6C03;
    font-weight: 700;
}
.neutral{
    color: #41C266;
    font-weight: 700;
}

/* responsive */
@media only screen and (max-width: 600px) {
    /* Leaderboard */
    .table-block{
        margin: 10px auto;
        width: 400px;
    }
    .table-block-container{
       width: 380px;
    }
    .leaderboard-table th,.leaderboard-table td{
        padding: 15px 5px;
    }
    .leaderboard-table{
        width: 375px;
    }
  }