@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap');
*   {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: white;
}  
.container{
    max-width: 1408px;
    margin: 0 auto;
    background-color: black;
    font-size: 12px;
    border-radius: 10px;
}
nav{
    height: 246px;
    margin: 15px;
}
nav ul{
    margin: auto;
    display: flex;
    list-style: none;
    height: 40px;
    padding-left: 570px;
    padding-top: 25px;
}
nav ul li{
    margin-right: 18px;
}
nav ul li a{
    text-decoration: none;
}
.blogs{
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}
.nav-btn{
    float: left;
    text-align: right;
    padding-left: 550px;
}
.nav-btn a{
    text-decoration: none;
}
.under{
    margin-top: 10px;
    background-color: white;
    height: 0.2px;
}
.filters{
    padding-top: 10px;
    padding-left: 830px;
}
.last-btn{
    margin-left: 850px;
    margin-right: 40px;
    height: 40px;
    float: left;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}
.last-btn a{
    text-decoration: none;
    color: black;
}
.refore-btn{   
    height: 40px;
    float: left;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}
.refore-btn a{
    text-decoration: none;
    color: black;
}
.title{
    margin-left: 15px;
    font-size: 64px;
}
.pic-left{
    height: 502px;
    width: 848px;
    background: url('../image/left.jpg') no-repeat;
    border-radius: 15px;
    float: left;
}
.pic-right{
    height: 502px;
    width: 516px;
    background: url('../image/right.jpg') no-repeat;
    border-radius: 15px;
    margin-left: 10px;
    float: left;
}
.nav-under{
    margin-top: 12px;
    display: flex;
}
.show-box1{
    background-color: black;
    height: 40px;
    width: 70px;
    color: white;
    margin-left: 15px;
    padding: 10px;
    border-radius: 20px;
}
.show-box2{
    background-color: black;
    height: 40px;
    width: 121px;
    color: white;
    margin-left: 20px;
    margin-right: 0px;
    padding: 10px;
    border-radius: 20px;
}
.date{
    height: 50px;
    padding: 10px;
    color: #A4A6AF;
}
.content-left{
    margin-left: -575px;
    margin-top: 60px;
    width: 600px;
    height: 135px;
    color: black;
    font-size: 36px;
    text-align: right;
}
.content-right{
    margin-left: -500px;
    margin-top: 48px;
    width: 500px;
    height: 135px;
    color: black;
    text-align: right;
    font-size: 36px;
}
.left-text{
    width: 824px;
    height: 207px;
    margin-top: 283px;
    margin-left: 12px;
    margin-bottom: 12px;
    background-color: white;
    border-radius: 10px;
}
.right-text{
    width: 492px;
    height: 207px;
    margin-top: 283px;
    margin-left: 12px;
    margin-bottom: 12px;
    background-color: white;
    border-radius: 10px;
    display: flex;
}
.block_1{
    background-color: blueviolet;
    
}