/* top-block */
.top-block-profile{
    background-color: white;
    max-width: 1408px;
    height: max-content;
    border-radius: 5px;
}
.top-block-profile-container{
    max-width: 1358px;
    margin: 0 auto;
}
.profile-title{
    font-size: 36px;
    padding: 10px 0;
}

/* ProfilePage-Top */
.topside-profile{
    margin-top: 10px;
}
.top-top-profile{
    display: flex;
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
}
.userFace{
    margin: 0 20px;
}
.name{
    font-family: Plus Jakarta Sans;
    font-size: 36px;
}
.description{
    display: flex;
    align-items: center;
    padding: 10px 0 0 0;
    color: #A4A6AF;
    opacity: 0.5;
}
.description a{
    margin-left: 5px;
    text-decoration: none;
}

/* ProfilePage-2ndLayer*/

.second-layer-profile{
    width: 100%;
    height: 270px;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}
.balance-box{
    font-size: 24px;
    width: 288px;
    height: 214px;
}
.number{
    font-size: 80px;
    color: #EC6C03;
    text-align: right;
}
.unit{
    font-size: 24px;
    text-align: right;
}
.rank-box{
    font-size: 24px;
    width: 288px;
    height: 214px;
}
.favorite-box{
    font-size: 24px;
    width: 288px;
    height: 214px;
}
.fav-pic{
    margin: auto 0 auto 20px;
}
.wrapper-fav{
    display: flex;
}
.fav-number{
    font-size: 80px;
    color: #EC6C03;
    text-align: right;
    margin-left: 50px;
}
.describe{
    font-size: 12px;
    text-align: right;
}
.unit2{
    font-size: 12px;
    text-align: right;
    color: #A4A6AF;
    opacity: 0.5;
}
.and-more-box{
    font-size: 24px;
    width: 288px;
    height: 214px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* responsive */
@media only screen and (max-width: 600px) {
    /* profile */
    
  }