
{% extends 'base.html' %}
{% load static %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/front-end/leaderboard.css' %}"/>


    <div class="container">
        <div class="top-block">
        <div class="top-block-container">
            <div class="blog-title">
                <h1>Leaderboard</h1>
            </div>
            <div class="filter-search-sorted-wrapper">
                <div class="filter-test">
                    <div class="layerst">
                        <div class="filter-blogs">filter </div>
                        <div class="underline-filter-leaderboard"></div>
                    </div>
                    <div class="category-blog">
                        <div class="subcategory-selected">
                            <a href="/leaderboard/today">today</a>
                        </div>
                        <div class="subcategory">
                            <a href="/leaderboard/week">Week</a>
                        </div>
                        <div class="subcategory">
                            <a href="/leaderboard/month">Month</a>
                        </div>
                        <div class="subcategory">
                            <a href="/leaderboard/all-time">All time</a>
                        </div>
                    </div>
                </div>
                <div class="sorted-test">
                    <div class="layerst">
                        <div class="sorted-blog">Last update</div>
                        <div class="underLine-last-update"></div>
                    </div>
                    <div class="Last-update-date">
                        July 21, 2023, 2:18 a.m.
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="table-block">
            <div class="table-block-container">
                <table class="leaderboard-table">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Province</th>
                            <th>Majorities</th>
                            <th>Neutral Users</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for province in object_list|slice:":10" %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ province.province }}</td>
                            <td class="neutral">Neutral</td>
                            <td>{{province.total_credits}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}